<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="settings">
    <h2 class="settings-title row">Settings</h2>

    <div id="profile" class="row">
      <div class="section-title">
        <h2>profile</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'col section-content' }) do |f| %>
        <div class="field">
          <label class="section-label first">email</label>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <a id="verify-email-link" onclick="$('#verify-email').modal();"><span class="verify-email">Verify your email</span></a>
          <% end %>
          <br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputField", placeholder: "email@example.com", oninput: "checkEmail();allowSaveButton();" %>
          <div class="email error">
            <span class="message">please enter a valid email</span>
          </div>
        </div>

        <div class="field">
          <label class="section-label">location</label>
          <label>state</label>
          <%= f.select :state, options_for_select(us_states, resource.state), {:include_blank => "State"}, {:class => "inputField", :onchange => "updateCountryField();allowSaveButton();"} %>
          <br>
          <label>country</label>
          <%= f.select :country, options_for_select(countries, resource.country), {:include_blank => "Country"}, {:class => "inputField", :onchange => "updateStateField();allowSaveButton();"}%>
        </div>

        <div class="actions">
          <%= f.submit "save changes", class: "btn save-changes-button", id: "profile-save-button", disabled: "true", onclick: "$(this).siblings('.changes-saved-notification').css('display', 'flex');" %>
          <div class="changes-saved-notification">
            <span class="icon">&#x2713;</span>
            <span class="message">Your changes have been saved</span>
          </div>
        </div>
      <% end %>
    </div>

    <div id="password" class="row">
      <div class="section-title">
        <h2>password</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'col section-content' }) do |f| %>
        <div class="field">
          <label>current password</label>
          <%= f.password_field :current_password, autofocus: true, class: "inputField", oninput: "enablePasswordFields();" %>
          <div class="error">
            <span class="message">the password you entered is incorrect</span>
          </div>
        </div>
        <div class="field">
          <label>new password</label>
          <%= f.password_field :password, autofocus: true, disabled: true, class: "inputField", oninput: "enablePasswordFields();" %>
          <div class="password error">
            <span class="message">password must include at least 8 characters</span>
          </div>
        </div>
        <div class="field">
          <label>confirm password</label>
          <%= f.password_field :password_confirmation, autofocus: true, disabled: true, class: "inputField", oninput: "enablePasswordFields();" %>
          <div class="confirm error">
            <span class="message">the password doesn’t match</span>
          </div>
        </div>

        <div class="actions">
          <%= f.submit "save changes", id: "update-password-button", class: "btn save-changes-button", disabled: "true", onclick: "$(this).siblings('.changes-saved-notification').css('display', 'flex');" %>
          <div class="changes-saved-notification">
            <span class="icon">&#x2713;</span>
            <span class="message">Your changes have been saved</span>
          </div>
        </div>
      <% end %>
    </div>

    <div id="privacy" class="row">
      <div class="section-title">
        <h2>privacy</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit-privacy", class: 'col section-content' }) do |f| %>
          <label class="section-label first">location</label>
          <%= f.check_box :permissions, {multiple: true, onclick:"$('#privacy-save-button').prop('disabled', false);"}, 'location', nil %>
          <span>I give permission for Turning Green to use my location <a target="_blank" href=" <%= privacy_path %>">Learn more</a></span>
          <label class="section-label">challenges</label>
          <h5 class="more-info">To manage sharing settings for challenges individually please check the <strong>completed challenges</strong> page. </h5>
          <%= f.check_box :permissions, {multiple: true, onclick:"$('#privacy-save-button').prop('disabled', false);"}, 'challenges', nil %>
          <span>I give Turning Green permission to share <strong>ALL</strong> of my completed challenges <a target="_blank" href=" <%= privacy_path %>">Learn more</a></span><br>
        <%= f.submit "save changes", class: "btn save-changes-button", id: "privacy-save-button", disabled: "true", onclick: "$(this).siblings('.changes-saved-notification').css('display', 'flex');" %>
        <div class="changes-saved-notification">
          <span class="icon">&#x2713;</span>
          <span class="message">Your changes have been saved</span>
        </div>
      <% end %>
    </div>

    <div id="notifications" class="row">
      <div class="section-title">
        <h2>notifications</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit-notifications", class: "col section-content" }) do |f| %>
          <label class="section-label first">frequency</label>
          <div class="field">
            <%= f.label 'I would like to receive emails:' %>
            <%= f.select :notifications, options_for_select(notifications, resource.notifications), {}, {class: "inputField notifications-select", onchange:"allowNotifSave();"} %>
          </div>
          <label class="section-label">content</label>
          <%= f.label 'send the following to my email:' %>
          <div class="ContentList">
            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'reminders', nil %>
            <span class="options">Reminders to log my progress</span><br>

            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'check-in', nil %>
            <span class="options">Reminders to submit my reflections<span><br>

            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'newsletter', nil %>
            <span class="options">The rootup newsletter</span>
          </div>
          <%= f.submit "save changes", class: "btn save-changes-button", id: "notifications-save-button", disabled: "true", onclick: "$(this).siblings('.changes-saved-notification').css('display', 'flex');" %>
          <div class="changes-saved-notification">
            <span class="icon">&#x2713;</span>
            <span class="message">Your changes have been saved</span>
          </div>
        <% end %>
    </div>

    <div id="deactivate" class="row">
      <div class="section-title">
        <h2>deactivate</h2>
      </div>

      <div class="col section-content">
        <p>If you deactivate your account, you will lose access to all the data you’ve shared on rootup.</p>
        <button class="deactivate-button save-changes-button" onclick="$('#account-deactivate').modal();">deactivate</button>
      </div>
    </div>

  <%= render "layouts/settings/account_deactivate_popup" %>
  <%= render "layouts/settings/verify_email_popup" %>
</div>
