<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="settings">
  <div>
    <h2 class="settings-title">MY SETTINGS</h2>

      <div class="update-avatar thumbnail" onclick="document.getElementById('upload-photo-input').click();">
        <%= image_tag(profile_pic_link, size: "200x200", class: "rounded-circle") %>
        <div id="upload-photo-div" class="overlay rounded-circle">
          <div class="overlayText">
            Upload Photo
          </div>
        </div>

    </div>
    <div class="upload-photo modal" id="pic-input-dialog" tabindex="-1" role="dialog">
      <div class="upload-photo modal-dialog modal-dialog-centered" role="document">
        <div class="upload-photo modal-content">
          <div class="upload-photo modal-header">
            <h5 class="upload-photo modal-title">Upload Photo</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="upload-photo modal-body">
            <div id="upload-croppie">

            </div>
          </div>
          <div class="upload-photo modal-footer">
            <button type="button" class="btn btn-primary" onclick="updatePicture();">Save</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="user-name"><%= @user.name %></h2>

  </div>

  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <%# delete this later  %>
      <div class="update-avatar">
        <div class="upload-wrap">
          <%= f.file_field :profile_pic, id: "upload-photo-input", class: "upload-btn", onchange: "$('#pic-input-dialog').modal('show');", accept: "image/*", direct_upload: true%>
        </div>
      </div>

      <div class="field">
        <%= f.label 'Update email' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputField", placeholder: "email@example.com" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label 'Update password' %><br>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "inputField"%><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputField", placeholder: "Confirm new password"%>
      </div>

      <div class="field">
        <%= f.label "Update state/country" %><br>
        <%= f.select :state, options_for_select(us_states, resource.state), {:include_blank => "State"}, {:class => "inputField"} %> <br>
        <%= f.select :country, options_for_select(countries, resource.country), {:include_blank => "Country"}, {:class => "inputField"}%>
      </div>

      <div class="field">
        <%= f.label "Update local time zone" %> <br>
        <%= f.select :timezone, time_zone_options_for_select(get_timezone_name_from(resource.timezone)), {:include_blank=> "Time zone"}, {:class=> "inputField"}%>
      </div>

      <div class="actions">
        <%= f.submit "SAVE", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
