<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="settings">
  <div>
    <h1>my settings</h1>
  </div>

  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="update-avatar">
        <%= image_tag(profile_pic_link, size: "100x100", class: "rounded-circle") %> <br>

        <div class="upload-wrap">
          <button type="button", class="btn btn-secondary">Upload Photo</button>
          <%= f.file_field :profile_pic, class: "upload-btn", onchange: "show_filename();"%>
        </div>
        <label id="uploadFile"></label>
      </div>

      <div class="field">
        <%= f.label 'Update email' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputField", placeholder: "email@example.com" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label 'Update password' %><br>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "inputField"%><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "inputField", placeholder: "Confirm new password"%>
      </div>

      <div class="field">
        <%= f.label "Update state/country" %><br>
        <%= f.select :state, options_for_select(us_states, resource.state), {:include_blank => "State"}, {:class => "inputField"} %> <br>
        <%= f.select :country, options_for_select(countries, resource.country), {:include_blank => "Country"}, {:class => "inputField"}%>
      </div>

      <div class="field">
        <%= f.label "Update local time zone" %> <br>
        <%= f.select :timezone, time_zone_options_for_select(get_timezone_name_from(resource.timezone)), {:include_blank=> "Time zone"}, {:class=> "inputField"}%>
      </div>

      <div class="actions">
        <%= f.submit "SAVE", class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>
</div>
