<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="settings">
  <div class="">
    <h2 class="settings-title">Settings</h2>
  </div>
  <ul class="nav settings-tabs">
    <li class="active">
      <a data-toggle="tab" href="#profile" class="active">Profile</a>
    </li>
    <li>
      <a data-toggle="tab" href="#account">Account</a>
    </li>
    <li>
      <a data-toggle="tab" href="#privacy">Privacy</a>
    </li>
    <li>
      <a data-toggle="tab" href="#notifications">Notifications</a>
    </li>
  </ul>
  <div class="separator"></div>

  <div class="tab-content">
    <div id="profile" class="tab-pane active">
      <h2 class="user-name"><%= @user.name %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label 'Email' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <a onclick="$('#verify-email').modal();"><span class="verify-email">Verify your email</span></a>
        <% end %>
        <br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputField", placeholder: "email@example.com", oninput: "checkEmail();allowSaveButton();" %>
        <div class="email error" style="display:none;">
          <div class="error-icon"></div>
          <span class="message">You must enter a valid email</span>
        </div>
      </div>

      <label>Location</label>
      <div class="field">
        <%= f.label "State", class: "state" %>
        <%= f.select :state, options_for_select(us_states, resource.state), {:include_blank => "State"}, {:class => "inputField", :onchange => "updateCountryField();allowSaveButton();"} %>
        <br>
        <%= f.label "Country", class: "country" %>
        <%= f.select :country, options_for_select(countries, resource.country), {:include_blank => "Country"}, {:class => "inputField", :onchange => "updateStateField();allowSaveButton();"}%>
      </div>

        <div class="actions">
          <%= f.submit "Save Changes", class: "btn save-changes-button", id: "profile-save-button", disabled: "true", onclick: "$('#changes-saved').modal();" %>
        </div>
      <% end %>
    </div>

    <div id="account" class="tab-pane fade">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="expand-clickable-area"></div>
          <div class="panel-heading">
            <h4 class="panel-title">Password</h4>
            <button type="button" class="show-hidden">
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-left" style="display:none;"></i>
            </button>
          </div>

          <div id="password" class="panel-collapse collapse" style="display:none;">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label 'Current Password' %>
                <%= f.password_field :current_password, autofocus: true, class: "inputField", oninput: "enablePasswordFields();" %>
              </div>
              <div class="field">
                <%= f.label 'New Password' %>
                <%= f.password_field :password, autofocus: true, disabled: true, class: "inputField" %>
              </div>
              <div class="field">
                <%= f.label 'Confirm Password' %>
                <%= f.password_field :password_confirmation, autofocus: true, disabled: true, class: "inputField" %>
              </div>

              <div class="actions">
                <%= f.submit "Update Password", id: "update-password-button", class: "btn save-changes-button", disabled: "true", onclick: "$('#password-updated').modal();" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="expand-clickable-area"></div>
          <div class="panel-heading">
            <h4 class="panel-title">Devices</h4>
            <button type="button" class="show-hidden">
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-left" style="display:none;"></i>
            </button>
          </div>
          <div id="devices" class="panel-collapse collapse" style="display:none;">
            <p>These are the devices that are currently logged in under your account. Please select any you wish to log out from. You will be asked to put in your password before finalizing any log outs.</p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <div class="options">
                <div class="field">
                  <%= f.check_box :notifications%>
                  <%= f.label "Suzanne’s Macbook Pro (current device)" %>
                </div>
                <br/>
                <div class="field">
                  <%= f.check_box :notifications%>
                  <%= f.label "Alison’s Chromebook" %>
                </div>
                <br>
                <div class="field">
                  <%= f.check_box :notifications%>
                  <%= f.label "All devices (except this one)" %>
                </div>
                <br>
              </div>
              <div class="actions">
                <%= f.submit "Logout", class: "btn save-changes-button", disabled: "true" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="expand-clickable-area"></div>
          <div class="panel-heading">
            <h4 class="panel-title">Deactivate</h4>
            <button type="button" class="show-hidden">
              <i class="fas fa-chevron-down"></i>
              <i class="fas fa-chevron-left" style="display:none;"></i>
            </button>
          </div>
          <div id="deactivate" class="panel-collapse collapse" style="display:none;">
            <p>If you deactivate some logistics will happen. Choose wisely fools. </p>
            <div class="deactivate"><a onclick="$('#account-deactivate').modal();">Deactivate Account</a></div>
          </div>
        </div>
      </div>
    </div>

    <div id="privacy" class="tab-pane fade">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit-privacy" }) do |f| %>

        <div class="profile">
          <h2>Profile</h2>
          <%= f.check_box :permissions, {multiple: true, onclick:"$('#privacy-save-button').prop('disabled', false);"}, 'picture', nil %>
          <label>I give permission for TG to use my profile picture</label>
          <p>Learn more Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        </div>
        <div class="location">
          <h2>Location</h2>
          <%= f.check_box :permissions, {multiple: true, onclick:"$('#privacy-save-button').prop('disabled', false);"}, 'location', nil %>
          <label>I give permission for TG to share my location</label>
          <p>Learn more Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        </div>
        <div class="challenges">
          <h2>Challenges</h2>
          <h5 class="more-info">To manage sharing settings for challenges individually please check the <strong>completed challenges</strong> page. </h5>
          <%= f.check_box :permissions, {multiple: true, onclick:"$('#privacy-save-button').prop('disabled', false);"}, 'challenges', nil %>
          <label>I give permission for TG to share my location</label>
        </div>
        <%= f.submit "Save Changes", class: "btn save-changes-button", id: "privacy-save-button", disabled: "true", onclick: "$('#changes-saved').modal();" %>

      <% end %>
    </div>

    <div id="notifications" class="tab-pane fade">
      <h2 class="title">Frequency</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit-notifications" }) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label 'I would like to receive emails:', class: "notifications-label" %><br/>
            <%= f.select :notifications, options_for_select(notifications, resource.notifications), {}, {class: "inputField notifications-select", onchange:"allowNotifSave();"} %>
          </div>
          <h2 class="content-heading">Content</h2>
          <%= f.label 'Send the following to my email:', class: "send-label" %><br/>
          <div class="ContentList">
            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'reminders', nil %>
            <span class="options">Reminders to log your progress</span><br>

            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'check-in', nil %>
            <span class="options">Check-in notifications<span><br>

            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'newsletter', nil %>
            <span class="options">Our newsletter</span>
          </div>
          <%= f.submit "Save Changes", class: "btn save-changes-button", id: "notifications-save-button", disabled: "true", onclick: "$('#changes-saved').modal();" %>
        <% end %>
    </div>
  </div>
  <%= render "layouts/settings/changes_saved_popup" %>
  <%= render "layouts/settings/account_deactivate_popup" %>
  <%= render "layouts/settings/email_updated_popup" %>
  <%= render "layouts/settings/password_updated_popup" %>
  <%= render "layouts/settings/verify_email_popup" %>
</div>
