<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="settings">
  <div class="">
    <h2 class="settings-title">Settings</h2>
  </div>
  <ul class="nav settings-tabs">
    <li class="active">
      <a data-toggle="tab" href="#profile" class="active">Profile</a>
    </li>
    <li>
      <a data-toggle="tab" href="#account">Account</a>
    </li>
    <li>
      <a data-toggle="tab" href="#privacy">Privacy</a>
    </li>
    <li>
      <a data-toggle="tab" href="#notifications">Notifications</a>
    </li>
  </ul>
  <div class="separator"></div>

  <div class="tab-content">
    <div id="profile" class="tab-pane active">
      <h2 class="user-name"><%= @user.name %></h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label 'Email' %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <a onclick="$('#verify-email').modal();"><span class="verify-email">Verify your email</span></a>
        <% end %>
        <br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "inputField", placeholder: "email@example.com", oninput: "checkEmail();allowSaveButton();" %>
        <div class="email error" style="display:none;">
          <div class="error-icon"></div>
          <span class="message">You must enter a valid email</span>
        </div>
      </div>

      <label>Location</label>
      <div class="field">
        <%= f.label "State", class: "state" %>
        <%= f.select :state, options_for_select(us_states, resource.state), {:include_blank => "State"}, {:class => "inputField", :onchange => "updateCountryField();allowSaveButton();"} %>
        <br>
        <%= f.label "Country", class: "country" %>
        <%= f.select :country, options_for_select(countries, resource.country), {:include_blank => "Country"}, {:class => "inputField", :onchange => "updateStateField();allowSaveButton();"}%>
      </div>

        <div class="actions">
          <%= f.submit "Save Changes", class: "btn save-changes-button", id: "profile-save-button", disabled: "true", onclick: "$('#changes-saved').modal();" %>
        </div>
      <% end %>
    </div>
    <div id="account" class="tab-pane fade">
      <p>account settings go here :)</p>
    </div>
    <div id="privacy" class="tab-pane fade">
      <p>privacy settings go here :)</p>
    </div>
    <div id="notifications" class="tab-pane fade">
      <h2 class="title">Frequency</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "edit-notifications" }) do |f| %>
          <%= devise_error_messages! %>
          <div class="field">
            <%= f.label 'I would like to receive emails:', class: "notifications-label" %><br/>
            <%= f.select :notifications, options_for_select(notifications, resource.notifications), {}, {class: "inputField notifications-select", onchange:"allowNotifSave();"} %>
          </div>
          <h2 class="content-heading">Content</h2>
          <%= f.label 'Send the following to my email:', class: "send-label" %><br/>
          <div class="ContentList">
            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'reminders', nil %>
            <span class="options">Reminders to log your progress</span><br>

            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'check-in', nil %>
            <span class="options">Check-in notifications<span><br>

            <%= f.check_box :notifications_content, {multiple: true, onclick:"$('#notifications-save-button').prop('disabled', false);"}, 'newsletter', nil %>
            <span class="options">Our newsletter</span>
          </div>
          <%= f.submit "Save Changes", class: "btn save-changes-button", id: "notifications-save-button", disabled: "true", onclick: "$('#changes-saved').modal();" %>
        <% end %>
    </div>
  </div>
  <%= render "layouts/settings/changes_saved_popup" %>
  <%= render "layouts/settings/account_deactivate_popup" %>
  <%= render "layouts/settings/email_updated_popup" %>
  <%= render "layouts/settings/password_updated_popup" %>
  <%= render "layouts/settings/verify_email_popup" %>
</div>
