<script type="text/javascript">
  $('.navbar').css("background-color","#fafafa");
</script>
<div class="sign-up-page">
  <div class="sign-up-box">
    <h2 class="header">Sign Up</h2>
    <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {onsubmit: "convertDate();"}) do |f| %>
      <%= devise_error_messages! %>

      <div class="section">
        <label>full name</label>
        <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "input", :required => true %>
      </div>

      <div class="section">
        <label>birthdate</label>
        <%= f.date_field :birthday, {class: "input", required: true, id: "datepicker", autocomplete: "off", placeholder: "mm/dd/yyyy"} %>
        <script type="text/javascript">
          $('#datepicker').prop('max', new Date().toISOString().split("T")[0])
        </script>
      </div>

      <div class="section">
        <label>location</label>
        <label>state</label>
        <span>
          <%= f.select :state, options_for_select(us_states, params.include?(:user)? params[:user][:state] : ""), {}, {:class => "input", :required => true, :onchange => "updateCountryField();"}  %>
        </span>
        <label>country</label>
        <span>
          <%= f.select :country, options_for_select(countries, params.include?(:user)? params[:user][:country] : ""), {}, {:class => "input", :required => true, :onchange => "updateStateField();"} %>
        </span>
      </div>

      <div class="section">
        <label>email</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "input", :required => true %>
      </div>

      <!-- <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip()
      </script> -->


      <div class="section">
        <label>password</label>
        <%= f.password_field :password, autocomplete: "current-password", :class => "input", :required => true %>
        <label>confirm password</label>
        <%= f.password_field :password_confirmation, :class => "input", :required => true %>
      </div>

      <div class="section">
        <label>how did you hear about us?</label>
        <%= f.select :referral, options_for_select(referral_choices), {}, {:class => "input", :required => true} %>
      </div>

      <h5 class="conditions">By signing up, I agree to the Terms and Conditions</h5>

      <div>
        <%= f.submit "sign up", :class => "account-button",  onclick: 'save_timezone();'%>
      </div>

      <div class="sign-in account-link">
        <span>already have an account?</span>
        <%= link_to "sign in", new_session_path(resource_name) %><br />
      </div>

    <% end %>
  </div>
</div>
