<div class="themesPage">
  <h1 class="themesTitle">THEMES</h1>
  <p class="themesHelpText">Text about unlocking themes by watching embedded videos! Filler text here.</p>
  <div class="themesContainer container">
    <div class="themesRow">
      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 1</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 2</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 3</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="themesRow">
      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 4</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 5</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 6</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="themesRow">
      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 7</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 8</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 9</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="themesRow">
      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 10</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 11</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 12</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="themesRow">
      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 13</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 14</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="theme">
        <div class="thumbnail text-center" data-toggle="modal" data-target=".modalCenter">
          <%= image_tag("placeholder.png") %>
          <div class="caption">THEME 15</div>
          <div class="overlay">
            <div class="overlayText">Hello World</div>
          </div>
        </div>

        <div class="modal modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <h1 class="modalHeader">UNLOCK WASTE</h1>
                <p class="helpText">In order to unlock this theme, watch this video segment to learn more about waste</p>
                <div class="themeVideo">
                  [Video goes here]
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
