<div class="themesPage">
  <h1 class="themesTitle">THEMES</h1>
  <p class="themesHelpText">Text about unlocking themes by watching embedded videos! Filler text here.</p>
  <div class="themesContainer container">
    <% themesRows.each do |row| %>
      <div class="themesRow">
        <% row.each do |challenge_name| %>
          <div class="theme current_challenges_box">
            <div class="thumbnail text-center" data-toggle="modal" data-target=".<%= challenge_name.downcase %>-modal">
              <%= image_tag("placeholder.png", class:"current_challenges_overlay") %>
              <div class="caption"><%= challenge_name %></div>
              <div class="overlay current_challenges_overlay">
                <div class="overlayText">Hello World</div>
              </div>
            </div>
            <div class="modal <%= challenge_name.downcase %>-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <h1 class="modalHeader">UNLOCK <%= challenge_name %></h1>
                    <p class="helpText">In order to unlock this theme, watch this video segment to learn more about <%= challenge_name.downcase %>.</p>
                    <div class="themeVideo">
                      [Video goes here]
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>
