<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="themesPage">
  <h1 class="themesTitle">THEMES</h1>
  <p class="themesHelpText">Click on the each theme below to see the impact you’ve made through each challenge!</p>
  <% themesRows.each do |row| %>
  <div class="themesRow">
    <% row.each do |challenge_name| %>
    <%= image_tag 'outer-ring.svg' %>
      <div class="thumbnail text-center">
        <% if !current_user.unlockedChallenges.include?(challenge_name) %>
        <% end %>
        <%# <%= image_tag("avatar.png", class:"current_challenges_overlay") %>
        <%= link_to challenges_path(challenge_name) do %>
          <div class="overlay current_challenges_overlay">
            <div class="overlayText challenge-name-text"><%= challenge_name %></div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
