<% if !content_for?(:navbar) %>
  <% content_for :navbar do %>
    <%= render 'layouts/dashboard_navbar' %>
  <% end %>
<% end %>

<div class="themesPage">
  <h2 class="themes-title">Themes</h2>
  <p class="themes-help-text">Click on the each theme below to complete challenges and make a difference!</p>
  <% themesRows.each do |row| %>
  <div class="themesRow">
    <% row.each do |challenge_name| %>
    <div class="theme">
      <% if !current_user.unlockedChallenges.include?(challenge_name) %>
        <div class="theme-locked">
          <%= image_tag("themes/rings/locked-theme-ring.svg") %>
        </div>
      <% else %>
        <%= image_tag("themes/rings/unlocked-theme-ring.svg") %>
        <div class="completed-ring">
          <% num_completed = Challenge.where(user_id: current_user, theme: challenge_name.capitalize, completed: true).length %>
          <% if num_completed > 6 %>
            <% num_completed = 6 %>
          <%  end %>
          <% if num_completed > 0 %>
            <%= image_tag("themes/rings/theme-ring-0"+num_completed.to_s+".svg", class: 'ring _'+num_completed.to_s) %>
          <% end %>
        </div>
      <% end %>
      <div class="theme-name"><%= challenge_name.downcase %></div>
      <%= link_to challenges_path(challenge_name) do %>
        <div class="icon-box"><%= image_tag("themes/icons/"+challenge_name.downcase+".svg", class: "icon") %></div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".themes-underline").show();
  $(".home-underline").hide();
</script>
