<% if !content_for?(:navbar) %>
  <% content_for :navbar do %>
    <%= render 'layouts/dashboard_navbar' %>
  <% end %>
<% end %>

<div class="themesPage">
  <h2 class="themes-title">Themes</h2>
  <p class="themes-help-text">Click on the each theme below to complete challenges and make a difference!</p>
  <% themesRows.each do |row| %>
  <div class="themesRow">
    <% row.each do |challenge_name| %>
    <div class="theme">
      <%= image_tag("themes/rings/theme-ring.svg") %>
      <% (1..6).each do |num| %>
        <svg height="10" width="40" class="line _<%= num %>"><line x1="0" y1="0" x2="16" y2="0" /></svg>
      <% end %>
      <% if !current_user.unlockedChallenges.include?(challenge_name) %>
        <div class="theme-locked"></div>
      <% else %>
        <div class="completed-ring">
          <% num_completed = Challenge.where(user_id: current_user, theme: challenge_name.capitalize, completed: true).length %>
          <% if num_completed > 6 %>
            <% num_completed = 6 %>
          <%  end %>
          <% if num_completed > 0 %>
            <% for i in 1..num_completed %>
              <%= image_tag("themes/rings/theme-ring-0"+i.to_s+".svg", class: 'ring _'+i.to_s) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="theme-name"><%= challenge_name.downcase %></div>
      <%= link_to challenges_path(challenge_name) do %>
        <% locked = !current_user.unlockedChallenges.include?(challenge_name)? " locked" : ""  %>
        <div class="icon-box"><%= image_tag("themes/icons/"+challenge_name.downcase+".svg", class: "icon" + locked) %></div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
  $(".themes-underline").show();
  $(".home-underline").hide();
</script>
