<div class="dashboard mobile">
  <div class="logo">
    <%= image_tag 'rootup-logo.png', size: '78x23' %>
  </div>
  <div class="content">
    <div class="reflection tab">
      <iframe src="<%= challenges_reflections_path %> " width="" height=""></iframe>
    </div>
    <div class="dash tab active">
      <div class="heading">
        <div class="points-ring">
          <svg viewbox="13 -13 80 80" xmlns="http://www.w3.org/2000/svg">
            <circle cx="53" cy="54" r="20" stroke="#e4e3e3" stroke-dasharray=""/>
            <circle class="user-points" cx="53" cy="54" r="20" stroke="#93989c" stroke-dasharray=""/>
          </svg>
          <% if FileTest.exists? "#{::Rails.root}/app/assets/images/" + 'seeds/'+current_user.level.to_s+'.svg'%>
            <%= image_tag 'seeds/'+current_user.level.to_s+'.svg', class: 'seed-image', size: '92' %>
          <% end %>
          <%# TODO: change this and points popup after merge of new-seeds %>
            <script type="text/javascript">
              $('.user-points').animate({
                'stroke-dashoffset': <%= 240 - 124*(current_user.level_progress/100) %>
              }, 3000, 'swing')
            </script>
          </div>
          <div class="user">
            <h5 class="level">Level
              <%= current_user.level %>
            </h5>
            <h5 class="name">
              <span style="font-weight:500;">Hello,</span>
              <%= current_user.name %></h5>
          </div>
          <%= image_tag 'settings-cog.svg', class: 'settings-button', onclick: "location.href='#{edit_user_registration_path}'" %>
        </div>

        <div id="challenges-carousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <% if @current_challenges.length == 0 %>
              <div class="carousel-item active">
                <div class="no-challenges challenge-card">
                  <h5 class="heading">Your challenges are looking a little lonely, let's fix that! </h5>
                  <button type="button" name="button" class="dash-button" onclick="$('button.challenges').click()">add challenges</button>
                </div>
              </div>
            <% end %>
            <% @current_challenges.each_with_index do |challenge, index| %>
              <div class="carousel-item <%= 'active' if index == 0 %> ">
                <div class="challenge-card">
                  <div class="">
                    <%= image_tag "themes/icons/#{challenge.theme.downcase}.svg", class: 'icon' %>
                    <h5 class="name"><%= challenge.challenge_name %></h5>
                  </div>
                  <div class="">
                    <h6 class="since">Since your last log:</h6>
                    <h5 class="question"><%= challenge.content_data[:metric_question] %></h5>
                  </div>
                  <button type="button" name="button" class="dash-button" onclick="$('.log-progress#<%= challenge.id %>').css('display', 'flex');">log progress</button>
                  <%= render 'layouts/mobile/log_progress', {challenge: challenge} %>
                </div>
              </div>
            <% end %>
            <% if @current_challenges.length.between?(1, 5) %>
              <div class="carousel-item">
                <div class="add-more challenge-card">
                  <h5 class="heading">Craving more? Take on more challenges!</h5>
                  <button type="button" name="button" class="dash-button" onclick="$('button.challenges').click()">add challenges</button>
                </div>
              </div>
            <% end %>
          </div>

          <div class="controls">
            <a class="carousel-control prev" href="#challenges-carousel" role="button" data-slide="prev">
              <i class="fas fa-chevron-left"></i>
            </a>
            <ol class="carousel-indicators">
              <% if @current_challenges.length == 0 %>
                <li data-target="#challenges-carousel" data-slide-to="0" class="active"></li>
              <% end %>
              <% counter = 0 %>
                <% @current_challenges.length.times.each do %>
                  <li data-target="#challenges-carousel" data-slide-to="<%= counter %>" <%= 'class=active' if counter == 0 %>></li>
                  <% counter += 1 %><% end %>
                  <% if @current_challenges.length.between?(1, 5) %>
                    <li data-target="#challenges-carousel" data-slide-to="<%= counter %>"></li>
                  <% end %>
                </ol>
                <a class="carousel-control next" href="#challenges-carousel" role="button" data-slide="next">
                  <i class="fas fa-chevron-right"></i>
                </a>
              </div>
            </div>
            <script type="text/javascript">
              $('.carousel').carousel()
            </script>

            <%= link_to 'log out', destroy_user_session_path, method: :delete %>
          </div>
          <div class="challenges tab">
            <iframe src="<%= themes_path %> " width="" height=""></iframe>
          </div>
        </div>

        <div class="menu">
          <button type="button" name="button" data-target="reflection" class="reflection" onclick="updateActiveButton(this)">
            <div class="reflection-icon-container">
              <%= image_tag 'mobile/menu-buttons/reflections.svg' %>
              <%= image_tag 'mobile/menu-buttons/reflections-active.svg', class: 'active' %>
              <% if current_user.challenges.where(completed:true, reflection_completed:false).length > 0 %>
                <div class="reflections-bubble">
                  <%= current_user.challenges.where(completed:true, reflection_completed:false).length %>
                </div>
              <% end %>
            </div>
          </button>
          <button type="button" name="button" data-target="dash" class="dash active" onclick="updateActiveButton(this)">
            <%= image_tag 'mobile/menu-buttons/dash.svg' %>
            <%= image_tag 'mobile/menu-buttons/dash-active.svg', class: 'active' %>
          </button>
          <button type="button" name="button" data-target="challenges" class="challenges" onclick="updateActiveButton(this)">
            <%= image_tag 'mobile/menu-buttons/challenges.svg' %>
            <%= image_tag 'mobile/menu-buttons/challenges-active.svg', class: 'active' %>
          </button>
        </div>
        <%# render "/layouts/points/points_earned", {points: 3, type: 'points', visible: true} %>
        </div>
