<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="dashboard">
  <div class="global_impact">
    <h2>Global Impact</h2>
    <div class="global_impact_content"></div>
  </div>
  <%= link_to 'completed challenges', challenges_completed_path %>
  <div class="current-challenges">
    <h2 class="heading">Current Challenges</h2>

    <% @current_challenges.each do |challenge| %>
      <div class="current-challenge-box">
        <h2 class="name"><%= challenge.challenge_name %></h2>
        <div class="progress-circle">
          <div class="ring">
            <div class="inner">
              <button type="button" name="button">Log your progress!</button>
            </div>
          </div>
          <div class="worm">
            <svg viewBox="0 0 106 106" xmlns="http://www.w3.org/2000/svg">
              <circle cx="53" cy="54" r="44"/>
            </svg>
          </div>
        </div>
        <div class="info">
          <div class="time-left line">
            <span class="label">time left</span>
            <span class="metric"><%= (challenge.date_complete - Date.today).to_i %> days</span>
          </div>
          <div class="last-log line">
            <span class="label">last log</span>
            <span class="metric">4/33</span>
          </div>
          <div class="done-so-far line">
            <span class="label">done so far</span>
            <span class="metric">0 metric</span>
          </div>
        </div>
      </div>
    <% end %>
    <% if @current_challenges.length < 6 %>
      <a class="add">+<span class="another">take on another challenge!</span></a>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(".home-underline").show();
  $(".themes-underline").hide();
</script>





<!-- <div>
  <% if @current_challenges.length.between?(1,7) %>
  <a href="<%= themes_path %>">
    <div id="add_challenge">+</div>
  </a>
  <% elsif @current_challenges.length == 0 %>
  <a href="<%= themes_path %>" tabindex="0" id="no_challenge_popover" data-toggle="popover" data-placement="left"
    data-content="Click here to add a challenge and make a difference!">
    <div id="add_challenge">+</div>
  </a>
  <% else %>
  <a tabindex="0" id="too_many_challenge_popover" data-toggle="popover" data-placement="left"
  data-content="You can only have a maximum of 8 challenges ongoing at a time!">
  <div id="add_challenge">+</div>
</a>
<% end %>
</div>
<div>

  <br>
</div> -->
