<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="dashboard">
  <div class="level container">
    <h5 class="title">My Level</h5>
    <div class="level-content">
      <div class="branding"></div>
      <div class="info">
        <h5 class="heading">lvl <%= @level %></h5>
        <h5 class="name"><%= levels[@level][0] %></h5>
        <p class="learn-more"><%= levels[@level][1] %></p>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= current_user.level_progress %>% !important" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="marker-container">
          <% if current_user.level_progress != 0 && current_user.level_progress != 100 %>
            <div class="marker" style="left: <%= current_user.level_progress - 3%>%">
              <%= current_user.points %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="start box"> <%= level_ranges[@level] %></div>
      <div class="end box"> <%= level_ranges[@level + 1] %></div>
    </div>
  </div>
  <div class="current-challenges container">
    <h2 class="heading">My Current Challenges</h2>
    <div class="content">
      <div class="tabs nav flex-column" role="tablist" aria-orientation="vertical">
        <% @current_challenges.each_with_index do |challenge, index| %>
          <% if challenges[challenge.theme.to_sym][:challenges][0][:name] != challenge.challenge_name %>
            <a class="nav-link <%= 'active' if index == 0 %>" id="v-pills-home-tab" data-toggle="pill" href="#_<%= challenge.id %>" role="tab">
              <span><%= challenge.challenge_name%></span>
            </a>
          <% end %>
        <% end %>
        <% empty_tabs = @current_challenges.length %>
        <% if @current_challenges.length < 6 %>
          <a class="nav-link add-challenge" href="<%= themes_path %>">&#43;</a>
          <% empty_tabs += 1%>
        <% end %>
        <% (1..6-empty_tabs).each do %>
          <a class="nav-link" ></a>
        <% end %>
      </div>
      <div class="challenge-content tab-content">
        <% @current_challenges.each_with_index do |challenge, index| %>
          <div class="tab-pane fade <%= 'active show' if index == 0 %>" id="_<%= challenge.id %>" role="tabpanel">
            <div class="row">
              <div class="col-3">
                <div class="date">
                  <h5 class="month"><%= month_names[Date.today.month - 1] %></h5>
                  <h5 class="day"><%= Date.today.day %></h5>
                </div>
                <div class="log-question">
                  <h5 class="heading">Since your last log:</h5>
                  <h5 class="question"> <%= challenges[challenge.theme.to_sym][:challenges].find {|x| x[:name] == challenge.challenge_name}[:metric_question] %>  </h5>
                  <% if challenge.progress_logs.last && challenge.progress_logs.last.created_at.to_date == DateTime.now.utc.to_date %>
                    <input type="number" value="<%= challenge.progress_logs.last.metric %>" disabled min="0" class="log-input _<%= challenge.id %>">
                    <h5 class="log-complete">today’s log complete!</h5>
                  <% else %>
                    <input type="number" min="0" class="log-input _<%= challenge.id %>" oninput="(this.value > 0)? $(this).siblings('button').attr('disabled', false) : $(this).siblings('button').attr('disabled', true) ">
                    <button type="button" name="button" class="btn" disabled onclick="recordMetric_<%= challenge.id %>(<%= challenge.id %>, $(this).siblings('.log-input').val());$('#metric-logged').modal();updateLogPrompt(this);">log progress</button>
                  <% end %>
                </div>
              </div>
              <div class="graph col-9">
                <canvas id="chart_<%= challenge.id %>" width="510" height="300"></canvas>
                <script>
                  var chart_<%= challenge.id %> = new Chart($('#chart_<%= challenge.id %>'), {type: 'line', data: <%= raw to_javascript_string challenge.data%> ,  options: <%=  raw to_javascript_string challenge.options %> })
                </script>
                <%# <%= line_chart challenge.data, challenge.options %>
                <div class="today marker _<%= challenge.id %>" style="left:<%= challenge.today_marker_position %>%">
                  <% if challenge.created_at.to_date != DateTime.now.utc.to_date && challenge.date_complete.to_date != DateTime.now.utc.to_date %>
                    <svg height="30" width="10" class="line"><line x1="0" y1="0" x2="0" y2="26"/></svg>
                    <span class="label">today</span>
                  <% end %>
                </div>
                <div class="start box">
                  <span>start</span>
                  <h2><%=challenge.created_at.month%>/<%=challenge.created_at.day%></h2>
                </div>
                <div class="end box">
                  <span>end</span>
                  <h2><%=challenge.date_complete.month%>/<%=challenge.date_complete.day%></h2>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            function recordMetric_<%= challenge.id %>(challenge_id, metric) {
              $.post('/logs/new', {
                challenge_id: challenge_id,
                metric: metric
              });
              $('.today.metric').children('span').html($('.log-input._<%= challenge.id %>').val() + ' metrics');
              $('.cumulative.metric').children('span').html((Number($('.log-input._<%= challenge.id %>').val()) + <%= challenge.cumulative_metrics.to_i %>) + ' metrics');
              chart_<%= challenge.id %>.data.datasets[1].data.push({t:"<%=DateTime.now.getutc.strftime("%Y-%m-%d")%>", y: (<%= challenge.cumulative_metrics.to_i %> + Number($('.log-input._<%= challenge.id %>').val()))})
              chart_<%= challenge.id %>.update()
            }
          </script>
        <% end %>
        <% if @current_challenges.length == 0 %>
        <div class="no-challenges">
          <h5 class="heading">nothing to show...yet!</h5>
          <p class="instructions">Click the plus sign on the left to add a challenge and get started on your sustainable journey!</p>
          <div class="branding filler"></div>
        </div>
        <% end %>
      </div>
      <%= render 'layouts/dashboard/metric_logged_popup', {points_earned: false,} %>
    </div>
  </div>
  <div class="global-impact container">
    <h2>Global Impact</h2>
    <div class="global-impact-content">
      <div class="branding"></div>
      <div class="coming-soon">
        <h5>Coming soon!</h5>
        <p>This page will be a collection of the impacts you, your friends, and all our users around the world have made. Let’s work to see the impact we will all come together to make!</p>
      </div>
    </div>
  </div>
</div>
