<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="dashboard content-container">
  <% unless current_user.all_pre_challenges_completed == 10 %>
  <div class="pre-challenges container">
    <h2 class="heading">My Pre-Challenges</h2>
    <div class="challenges">
      <% current_user.challenges.where(completed: false).or(current_user.challenges.where(reflection_completed: false)).each do |challenge| %>
        <% if challenge.type == 'pre' %>
          <div class="pre-challenge-box" onclick="complete_challenge(<%= challenge.id %>);">
            <%= image_tag("themes/icons/"+challenge.theme.downcase+".svg", size: '30', class: "icon") %>
            <div class="challenge">
              <h2 class="name"> <%= challenge.challenge_name %> </h2>
              <h5 class="info">Done? Click to complete your reflections!</h5>
            </div>
          </div>
        <% end %>
      <% end %>
      <% if current_user.all_pre_challenges_completed < 10 %>
      <div class="add-pre-challenge" onclick="location.href='<%= themes_path %>'">
        <span class="plus">+</span>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="current-challenges container">
    <h2 class="heading">My Current Challenges</h2>
    <div class="content">
      <div class="tabs nav flex-column" role="tablist" aria-orientation="vertical">
        <% @current_challenges.each_with_index do |challenge, index| %>
          <% if challenge.type != 'pre' %>
            <a class="nav-link <%= 'active' if index == 0 %>" id="v-pills-home-tab" data-toggle="pill" href="#_<%= challenge.id %>" role="tab">
              <span><%= challenge.challenge_name%></span>
            </a>
          <% end %>
        <% end %>
        <% empty_tabs = @current_challenges.length %>
        <% if @current_challenges.length < 6 %>
          <a class="nav-link add-challenge" href="<%= themes_path %>">&#43;</a>
          <% empty_tabs += 1 %>
        <% end %>
        <% (1..6-empty_tabs).each do %>
          <a class="nav-link" ></a>
        <% end %>
      </div>
      <div class="challenge-content tab-content">
        <% @current_challenges.each_with_index do |challenge, index| %>
          <div class="tab-pane fade <%= 'active show' if index == 0 && challenge.type != 'pre' %>" id="_<%= challenge.id %>" role="tabpanel">
            <div class="row">
              <div class="col-3">
                <div class="theme">
                  <%= image_tag("themes/icons/"+challenge.theme.downcase+".svg", class: "icon") %>
                  <h5 class="name"><%= challenge.theme.downcase %></h5>
                  <%= link_to "go to challenge", challenges_path(challenge.theme), class: "link", target: "_blank" %>
                </div>
                <div class="log-question">
                  <h5 class="heading">Since your last log:</h5>
                  <h5 class="question"> <%= challenges[challenge.theme.to_sym][:challenges].find {|x| x[:name] == challenge.challenge_name}[:metric_question] %>  </h5>
                  <% if challenge.progress_logs.last && challenge.progress_logs.last.created_at.to_date == DateTime.now.utc.to_date %>
                    <input type="number" value="<%= challenge.progress_logs.last.metric %>" disabled min="0" class="log-input _<%= challenge.id %>">
                    <h5 class="log-complete">today’s log complete!</h5>
                  <% else %>
                    <input type="number" min="0" class="log-input _<%= challenge.id %>" oninput="(this.value > 0)? $(this).siblings('button').attr('disabled', false) : $(this).siblings('button').attr('disabled', true) ">
                    <button type="button" name="button" class="btn" disabled onclick="recordMetric_<%= challenge.id %>(<%= challenge.id %>, $(this).siblings('.log-input').val());$('#metric-logged').modal();updateLogPrompt(this);">log progress</button>
                  <% end %>
                </div>
              </div>
              <div class="graph col-9">
                <canvas id="chart_<%= challenge.id %>" width="510" height="300"></canvas>
                <script>
                  var chart_<%= challenge.id %> = new Chart($('#chart_<%= challenge.id %>'), {type: 'line', data: <%= raw to_javascript_string challenge.data%> ,  options: <%=  raw to_javascript_string challenge.options %> })
                </script>
                <%# <%= line_chart challenge.data, challenge.options %>
                <div class="today marker _<%= challenge.id %>" style="left:<%= challenge.today_marker_position %>%">
                  <% if challenge.created_at.to_date != DateTime.now.utc.to_date && challenge.date_complete.to_date != DateTime.now.utc.to_date %>
                    <svg height="30" width="10" class="line"><line x1="0" y1="0" x2="0" y2="26"/></svg>
                    <span class="label">today</span>
                  <% end %>
                </div>
                <div class="start box">
                  <span>start</span>
                  <h2><%=challenge.created_at.month%>/<%=challenge.created_at.day%></h2>
                </div>
                <div class="end box">
                  <span>end</span>
                  <h2><%=challenge.date_complete.month%>/<%=challenge.date_complete.day%></h2>
                </div>
              </div>
            </div>
          </div>
          <script type="text/javascript">
            function recordMetric_<%= challenge.id %>(challenge_id, metric) {
              $.post('/logs/new', {
                challenge_id: challenge_id,
                metric: metric
              });
              $('.today.metric').children('span').html($('.log-input._<%= challenge.id %>').val() + ' metrics');
              $('.cumulative.metric').children('span').html((Number($('.log-input._<%= challenge.id %>').val()) + <%= challenge.cumulative_metrics.to_i %>) + ' metrics');
              chart_<%= challenge.id %>.data.datasets[1].data.push({t:"<%=DateTime.now.getutc.strftime("%Y-%m-%d")%>", y: (<%= challenge.cumulative_metrics.to_i %> + Number($('.log-input._<%= challenge.id %>').val()))})
              chart_<%= challenge.id %>.update()
            }
          </script>
        <% end %>
        <% if @current_challenges.length == 0 %>
        <div class="no-challenges">
          <h5 class="heading">nothing to show...yet!</h5>
          <p class="instructions">Click the plus sign on the left to add a challenge and get started on your sustainable journey!</p>
          <div class="branding filler"></div>
        </div>
        <% end %>
      </div>
      <%= render 'layouts/dashboard/metric_logged_popup', {points_earned: false,} %>
    </div>
  </div>
  <% if !Rails.env.test? %>
  <div class="global-impact">
    <h2>Global Impact</h2>
    <div id="global-impacts-carousel" class="carousel slide" data-interval="false">
          <%# <ol class="carousel-indicators">
            <li data-target="global-impacts-carousel" data-slide-to="0" class="active"></li>
            <li data-target="global-impacts-carousel" data-slide-to="1"></li>
          </ol> %>
          <div class="carousel-inner">
            <% retrieveGlobalImpacts.shuffle.each_with_index do |impact, index| %>
            <% challenge_name, theme, description, reflection, quote = impact %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <div class="global-impact-content">
                <div class="info">
                  <h2 class="challenge-name"><%= challenge_name %></h2>
                  <p class="description"><%= description %></p>
                  <button class="take-challenge" onclick="location.href='/challenges/<%= theme %>'">
                    Take the challenge!
                  </button>
                </div>
                <div>
                  <%= image_tag 'members-icon.png'%>
                  <h2 class="percent"><%= getMemberParticipation(challenge_name) %>%</h2>
                  <h4 class="label">membership participation</h4>
                </div>
                <div class="quote-box">
                  <p class="quote"><%= quote %></p>
                  <h4 class="user-name">-<%= reflection.challenge.user.name %>,<br><%= reflection.challenge.user.location_string %></h4>
                </div>
                <div id="map_<%= index %>" class="map"></div>
                <script>
                  <%= generateMemberMap(challenge_name, "map_#{index}") %>
                </script>
              </div>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#global-impacts-carousel" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
          </a>
          <a class="carousel-control-next" href="#global-impacts-carousel" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <script type="text/javascript">
          $('.carousel').carousel()
          $('#global-impacts-carousel').on('slide.bs.carousel', function() {
            maps.forEach(function (map) {
              map._onResize()
            })
          })
        </script>
  </div>
  <% end %>
</div>
