<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="dashboard">
  <div class="global_impact">
    <h2>Global Impact</h2>
    <div class="global_impact_content"></div>
  </div>
  <%= link_to 'completed challenges', challenges_completed_path %>
  <div class="current_challenges">
    <div>
      <h2>Current Challenges</h2>
      <% if @current_challenges.length.between?(1,7) %>
        <a href="<%= themes_path %>">
          <div id="add_challenge">+</div>
        </a>
      <% elsif @current_challenges.length == 0 %>
        <a href="<%= themes_path %>" tabindex="0" id="no_challenge_popover" data-toggle="popover" data-placement="left"
        data-content="Click here to add a challenge and make a difference!">
          <div id="add_challenge">+</div>
        </a>
      <% else %>
        <a tabindex="0" id="too_many_challenge_popover" data-toggle="popover" data-placement="left"
        data-content="You can only have a maximum of 8 challenges ongoing at a time!">
          <div id="add_challenge">+</div>
        </a>
      <% end %>
    </div>
    <div>
      <% if @current_challenges.length == 0 %>
        <div class="new_challenge current_challenges_box">
          <h5>No current challenges</h5>
        </div>
      <% else %>
        <% @current_challenges.each do |challenge| %>
          <div class="current_challenges_box thumbnail">
            <h5>challenge countdown here</h5>
            <div class="current_challenges_overlay overlay">
              <div class="overlayText"><%= challenge.challenge_name %></div>
            </div>
          </div>
        <% end %>
      <% end %>
      <br>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(".home-underline").show();
  $(".themes-underline").hide();
</script>
