<div class="landing-page">
  <div class="header">
    <h2 class="hook">Sustainability made easy</h2>
    <h4 class="answer">Building habits one action at a time</h4>
    <a href="<%= new_user_session_path %>" class="button">Login</a>
    <a href="<%= new_user_registration_path %>" class="button">Register</a>
  </div>
  <div class="impacts">
    <h2 class="impacts-heading">We’re making change accessible</h2>
    <p class="impacts-text">Caring for the environment isn’t any single person or group’s responsibility. It’s everyone’s. <br>Rootup’s here to make living eco-consciously super easy for you to commit to.</p>
    <div class="flow row">
      <div class="box">
        <h2>Choose a challenge</h2>
        <h5>With >60 challenges across 10 themes, there’s something to learn + do right now</h5>
      </div>
      <%= image_tag "landing-arrow.svg" %>
      <div class="box">
        <h2>Log & track your progress</h2>
        <h5>Show off the impact you’ve made each and every day</h5>
      </div>
      <%= image_tag "landing-arrow.svg" %>
      <div class="box">
        <h2>Submit reflections</h2>
        <h5>After completing challenges, share your experiences</h5>
      </div>
    </div>
  </div>
  <div class="challenge">
    <h2 class="heading">What does a challenge look like?</h2>
    <h5 class="subheading">See for yourself! Click on a theme below for examples</h5>
    <div class="theme-icons">
      <div class="line"></div>
      <% themes.each do |theme| %>
        <div class="icon <%= theme.downcase %>" onclick="toggleChallengePreview('<%= theme.downcase %>')">
          <%= image_tag "themes/icons/" + theme.downcase + ".svg", size: "25" %>
          <h5 class="name"> <%= theme.downcase %> </h5>
        </div>
      <% end %>
    </div>
    <div class="challenge-page">
      <% @highlighted_challenges.each_with_index do |challenge, index| %>
        <div class="challenge-box <%= themes[index].downcase %>">
          <div class="row">
            <div class="challenge-container col">
              <div class="info">
                <h5 class="name"><%= challenge[:name] %></h5>
                <h5 class="heading"><%= challenge[:question] %></h5>
                <p class="description"><%= challenge[:description].html_safe %></p>
              </div>
              <div class="row">
                <div class="instructions col">
                  <h4 class="heading">🤔How do I do this?🤔</h4>
                  <ul>
                    <li>
                      <div class="text-blur"></div>
                      <div class="text-blur"></div>
                    </li>
                    <li>
                      <div class="text-blur"></div>
                      <div class="text-blur"></div>
                    </li>
                    <li>
                      <div class="text-blur"></div>
                      <div class="text-blur" style="width:75%;"></div>
                    </li>
                    <li>
                      <div class="text-blur"></div>
                      <div class="text-blur" style="width:40%;"></div>
                    </li>
                  </ul>
                </div>
                <div class="col col-lg-5">
                  <div class="start-challenge">
                    <h6 class="heading">🏁Start this challenge…</h6>
                    <div class="weeks">
                      <div class="select"></div>
                      <span class="label">weeks starting today</span><br>
                    </div>
                    <button type="button" disabled class="btn add-challenge-button" name="button">start challenge</button>
                  </div>
                  <div class="learn-more">
                    <h7 class="heading">🤓Wanna learn more?</h7>
                    <ol>
                      <li>
                        <div class="text-blur"></div>
                      </li>
                      <li>
                        <div class="text-blur" style="width:65%"></div>
                      </li>
                      <li>
                        <div class="text-blur" style="width:85%" ></div>
                      </li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <script type="text/javascript">
      $('.challenge-box.waste').show()
      $('.icon.waste').addClass('active')
    </script>
  </div>
  <div class="seed">
    <div class="left">
      <h2 class="heading">Watch your seed grow</h2>
      <h5 class="subheading">Earn points by taking challenges! As you level up, you’ll see your seed grow into a… -- well, you gotta take challenges to find out! </h5>
    </div>
    <div class="right">
      <%= image_tag "seed-arrow.svg" %>
      <%= image_tag 'seeds/0.svg', class: "seed-icon" %>
      <div class="question">
        ?
      </div>
    </div>
  </div>
</div>
