<div class="get-the-app-page">
  <h2 class="title text-left">Get the app in just three quick steps :)</h2>
  <div class="steps">
    <div class="iphone device">
      <h2 class="title">For iPhone</h2>
      <div class="step active">
        <%= image_tag 'get-app-steps/iphone1.png', size:'270x465' %>
        <h2 class="step-text">Open Safari and go to rootup.appspot.com <br>and tap on the share icon.</h2>
        <h2 class="step-text">Step 1</h2>
      </div>
      <div class="step">
        <%= image_tag 'get-app-steps/iphone2.png', size:'270x465' %>
        <h2 class="step-text">Scroll down and tap "Add to Home Screen"</h2>
        <h2 class="step-text">Step 2</h2>
      </div>
      <div class="step">
        <%= image_tag 'get-app-steps/iphone3.png', size:'270x465' %>
        <h2 class="step-text">Tap "Add" at the top right corner - Done!</h2>
        <h2 class="step-text">Step 3</h2>
      </div>
      <div class="controls">
        <i class="fas fa-chevron-left last" onclick="lastStep(this)"></i>
        <i class="fas fa-chevron-right next" onclick="nextStep(this)"></i>
      </div>
    </div>
    <span>or</span>
    <div class="android device">
      <h2 class="title">For Android</h2>
      <div class="step active">
        <%= image_tag 'get-app-steps/android1.png', size:'270x465' %>
        <h2 class="step-text">Open Chrome and go to rootup.appspot.com <br>and tap on the three dots.</h2>
        <h2 class="step-text">Step 1</h2>
      </div>
      <div class="step">
        <%= image_tag 'get-app-steps/android2.png', size:'270x465' %>
        <h2 class="step-text">Scroll down and tap "Add to Home screen"</h2>
        <h2 class="step-text">Step 2</h2>
      </div>
      <div class="step">
        <%= image_tag 'get-app-steps/android3.png', size:'270x465' %>
        <h2 class="step-text">Tap "Add" - Done!</h2>
        <h2 class="step-text">Step 3</h2>
      </div>
      <div class="controls">
        <i class="fas fa-chevron-left last" onclick="lastStep(this)"></i>
        <i class="fas fa-chevron-right next" onclick="nextStep(this)"></i>
      </div>
    </div>
  </div>
</div>