<div class="login mobile">
  <h2 class="heading">Login</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", :class => "" %>
    </div>

    <div>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", :class => "" %>
    </div>


    <div>
      <%= f.submit "sign in", :class => ""%>
    </div>

    <%= link_to "forgot your password?", new_password_path(resource_name), :class => "forgot-pwd" %>
  <% end %>
</div>
