<div class="team-page">
  <h2 class="heading">Meet Our Team</h2>
  <h2 class="subheading">Current Members</h2>
  <div class="current-members">
    <div class="row">
      <div class="person">
        <%= image_tag 'team/jenny.jpg', class:"bio-pic" %>
        <p class="name">Jenny Fang</p>
        <p class="title">Product Manager</p>
        <p class="description">I’m a senior at WashU. I care about people’s health, the environment, and building community. I love spontaneity and am always down for adventure.</p>
        <a class="contact" href="mailto: fang.j.sra@gmail.com"> contact me </a>
      </div>
      <div class="person">
        <%= image_tag 'team/jennifer.jpg', class:"bio-pic" %>
        <p class="name">Jennifer Lee</p>
        <p class="title">Product and UI/UX Designer</p>
        <p class="description">I’m a senior at WashU with a love for all things simple. Always down for anything food related. I am currently looking for new opportunities!</p>
        <a class="contact" href="mailto: lee.jeeeun@wustl.edu"> contact me </a>
      </div>
      <div class="person">
        <%= image_tag 'team/philip.jpg', class:"bio-pic" %>
        <p class="name">Philip Zhang</p>
        <p class="title">Engineering Lead</p>
        <p class="description">I am senior in high school attending KIPP King Collegiate High School. A fun fact about me is that I have been coding since middle school.</p>
        <a class="contact" href="mailto: pzhanggg@gmail.com "> contact me </a>
      </div>
    </div>
    <div class="row">
      <div class="person">
        <%= image_tag 'team/michelle.jpg', class:"bio-pic" %>
        <p class="name">Michelle Kim</p>
        <p class="title">Graphic Designer and Illustrator</p>
        <p class="description">I’m a senior studying Communication Design at Washington University in St. Louis. When I’m not in the studio, I enjoy playing guitar and hanging with friends.</p>
        <a class="contact" href="mailto: rickyhoang219@gmail.com"> contact me </a>
      </div>
      <div class="person">
        <%= image_tag 'team/ricky.jpg', class:"bio-pic" %>
        <p class="name">Ricky Hoang</p>
        <p class="title">Front-End Engineer</p>
        <p class="description">Hi my name is Ricky and I’m a senior at Kipp King Collegiate High School. An interesting fact about me is that I like kiwis but despise kiwi fruit tea.</p>
        <a class="contact" href="https://michellekimdesigner.com/About"> contact me </a>
      </div>
      <div class="person">
        <img src="https://y3j5m2z3.stackpathcdn.com/wp-content/uploads/2014/11/water.jpg" alt="" class="bio-pic">
        <p class="name">Dylan Olivares</p>
        <p class="title">Front-End Engineer</p>
        <p class="description">I was born and raised in California, but my parents are from Peru. I am a senior at KIPP King Collegiate High School, and in my free time I like to play volleyball.</p>
        <p class="contact"> </p>
      </div>
    </div>
  </div>
  <div class="past-members">
    <h2>Past Members</h2>
    <div >
      <p class="name">Lisa Maldonado </p>
      <p class="title">Product Designer</p>
    </div>
    <div >
      <p class="name">Herrick Fang</p>
      <p class="title">Engineer</p>
    </div>
    <div >
      <p class="name">Minh To </p>
      <p class="title">Engineer</p>
    </div>
  </div>
</div>
