<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="completed-challenges">
  <h2 class="title">Completed Challenges</h2>
  <div class="subheader row">
    <h2 class="num-completed"><%= Challenge.where(user: current_user, completed:true).length %> of 60 challenges completed</h2>
    <div class="challenges-filter">
      <a class="theme" onclick="sortChallengesByFilter('theme');">Theme</a>
      <span>|</span>
      <a class="completion" onclick="sortChallengesByFilter('completion');">Completion</a>
      <span>|</span>
      <a class="shared" onclick="sortChallengesByFilter('shared');">Shared</a>
    </div>
  </div>
  <br>
  <div class="panels">
    <% themes.each do |theme| %>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" href="#<%= theme %>-collapse" onclick="$(this).children('.chevron').children('i').toggleClass('fa-chevron-up fa-chevron-down')">
            <div class="icon-box"><%= image_tag("themes/icons/"+theme.downcase+".svg", size: "25") %></div>
            <h4 class="title"><%= theme %></h4>
            <h3 class="chevron"><i class="fas fa-chevron-down"></i></h3>
            <h5 class="num-completed"><%= current_user.challenges.where(theme: theme, completed: true).length %> of 6 completed</h5>
          </div>
          <div id="<%= theme %>-collapse" class="panel-collapse collapse">
            <div class="challenges-wrapper">
              <% challenges[theme.to_sym][:challenges].each do |challenge| %>
              <% if @completed_challenges.exists?(challenge_name: challenge[:name], theme: theme) %>
                <% @completed_challenge = @completed_challenges.find(@completed_challenges.where(challenge_name: challenge[:name], theme: theme).pluck(:id)[0]) %>
              <% end %>
              <div class="challenge-box <%= 'not-completed' if !@completed_challenge %>" <%= "onclick=$('#reflection-review-#{@completed_challenge.id}').modal('show');" if @completed_challenge && @completed_challenge.reflection %> <%= "onclick=$('#reflection-redirect').modal();" if @completed_challenge && !@completed_challenge.reflection %>>
                <div class="picture">
                  <% if @completed_challenge %>
                    <% if @completed_challenge.reflection && @completed_challenge.reflection.photo.attached? %>
                      <%= image_tag url_for(@completed_challenge.reflection.photo), size: '190' %>
                    <% end %>
                  <% end %>
                  <% if !@completed_challenges.exists?(challenge_name: challenge[:name], theme: theme) %>
                    <%# if challenge not completed yet %>
                    no photo to display
                  <% elsif !@completed_challenge.reflection %>
                    <%# if challenge completed but no reflection submitted %>
                    <span class="reflection-reminder">submit reflection to show photo</span>
                  <% end %>
                  <% if @completed_challenge && (@completed_challenge.reflection && (@share_with_rootup || @completed_challenge.reflection.permission)) %>
                    <div class="shared">shared</div>
                  <% end %>
                </div>
                <div class="info">
                  <div class="name"><%= challenge[:name] %></div>
                  <% if @completed_challenges.exists?(challenge_name: challenge[:name], theme: theme) %>
                    <div class="metric">
                      <% if !@completed_challenge.reflection %>
                        no info to share yet
                      <% else %>
                        <%= @completed_challenge.cumulative_metrics %> metric
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <% if @completed_challenge && @completed_challenge.reflection %>
                  <%= render 'layouts/challenges/reflection_review_popup', {challenge: @completed_challenge} %>
                <% end %>
                <% @completed_challenge = nil %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <%= render 'layouts/challenges/reflection_redirect_popup' %>
</div>
