<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="completed-challenges">
  <h2 class="title">Completed Challenges</h2>
  <div class="subheader row">
    <h2 class="num-completed"><%= Challenge.where(user: current_user, completed:true).length %> of 60 challenges completed</h2>
    <div class="challenges-filter">
      <a class="theme" onclick="sortChallengesByFilter('theme');">Theme</a>
      <span>|</span>
      <a class="completion" onclick="sortChallengesByFilter('completion');">Completion</a>
      <span>|</span>
      <a class="shared" onclick="sortChallengesByFilter('shared');">Shared</a>
    </div>
  </div>
  <br>
  <div class="panels">
    <% themes.each do |theme| %>
        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" href="#<%= theme %>-collapse">
            <div class="icon-box"><%= image_tag("themes/icons/"+theme.downcase+".svg", size: "25") %></div>
            <h4 class="title"><%= theme %></h4>
            <h3 class="chevron"><i class="fas fa-chevron-down"></i></h3>
            <h5 class="num-completed"><%= current_user.challenges.where(theme: theme, completed: true).length %> of 6 completed</h5>
          </div>
          <div id="<%= theme %>-collapse" class="panel-collapse collapse">
            <% challenges[theme.to_sym][:challenges].each do |challenge| %>
              <div class="challenge-box">
                <div class="picture">
                  <% if @completed_challenges.exists?(challenge_name: challenge[:name], theme: theme) && current_user.challenges+.where(challenge_name: challenge[:name], theme: theme).reflection.attached? %>
                    <%= image_tag url_for(@completed_challenges.where(challenge_name: challenge[:name], theme: theme).reflection.photo) %>
                  <% end %>
                  <div class="shared">shared</div>
                </div>
                <div class="info">
                  <div class="name"><%= challenge[:name] %></div>
                  <div class="metric">
                    metric here
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
