<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="themes-page-overlay">
  <%= render template: '/themes/index.html.erb' %>
</div>

<%# <%= render "layouts/reflection_popup" %>

<div class="challenge-page" style="display:none;">
  <div class="back-button">
    <button type="button" class="back" name="button" onclick="location.href='/themes';">
      <%= image_tag 'arrow-back.svg'%>
    </button>
    <h1 class="challenge-title"><%= @challenge_name %>
      CHALLENGES</h1>
  </div>

  <div class="challenges-content">
    <div class="to-do-content">
      <div class="To-Do">
        <h1>To Do</h1>
      </div>
      <% if @challenge_data[:challenges].empty? %>
        <% (1..6-current_user.challenges.where(theme: @challenge_name, completed: true).length).each do %>
          <div class="challenge-box">
            <div class="expand-clickable-area"></div>
            <div class="challenge-icon">
              <%= image_tag 'to-do-unchecked.png', size:"48x48"%>
            </div>
            <div class="challenge-info">
              <h5 class="challenge-name">Carry a bag for waste</h5>
              <button type="button" class="show-hidden">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-left" style="display:none;"></i>
              </button>
              <div class="participants">
                <div class="Oval"></div>
                <p class="challenge-description">100 current participants</p>
              </div>
              <div class="hidden" style="display:none;">
                <svg class="image"></svg>
                <div class="the-challenge">
                  <p class="challenge-description">Carry a bag to collect your waste! Don’t hide it! Carry your bag of waste proudly and invite conversations with classmates and community members.</p>
                </div>
                <div class="learn-more">
                  <h7>
                    <a class="learn-more" href="www.google.com">Learn More</a>
                  </h7>
                </div>
                <div class="start-challenge">
                  <h6 class="start-question">How long would you like to take this challenge?</h6>
                  <%= select_tag "weeks", options_for_select((1..8).to_a)%>
                  <span class="label">
                    week(s) starting today</span><br>
                  <button type="button" class="btn add-challenge-button" name="button"><%= image_tag 'start-challenge-button.png'%></button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <% @challenge_data[:challenges].each do |challenge| %>
          <!-- THIS IS THE RIGHT CHALLENGE BOX! KEEP THIS IN THE FUTURE WHEN ALL CONTENT IS ADDED!!! -->
          <div class="challenge-box">
            <div class="expand-clickable-area"></div>
            <div class="challenge-icon">
              <%= image_tag 'to-do-unchecked.png', size:"48x48"%>
            </div>
            <div class="challenge-info">
              <h5 class="challenge-name"><%= challenge[:name] %></h5>
              <button type="button" class="show-hidden">
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-left" style="display:none;"></i>
              </button>
              <div class="participants">
                <div class="Oval"></div>
                <p class="challenge-description">100 current participants</p>
              </div>
              <div class="hidden" style="display:none;">
                <svg class="image"></svg>
                <div class="the-challenge">
                  <p class="challenge-description"><%= challenge[:description] %></p>
                </div>
                <div class="learn-more">
                  <h7 class="learn-more">Learn More</h7>
                  <ul>
                    <% challenge[:links].each do |text, link| %>
                      <li><%= link_to text, link, class: "link", target: "_blank"%></li>
                    <% end %>
                  </ul>
                </div>
                <div class="instructions">
                  <h4 class="title">Instructions</h4>
                  <p class="steps"><%= challenge[:instructions].html_safe %></p>
                </div>
                <div class="start-challenge">
                  <h6 class="start-question">How long would you like to take this challenge?</h6>
                  <%= select_tag "weeks", options_for_select((1..8).to_a)%>
                  <span class="label">
                    week(s) starting today</span><br>
                  <button type="button" class="btn add-challenge-button" name="button"><%= image_tag 'start-challenge-button.png'%></button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="completed-content">
      <div class="Completed">
        <h1>Completed</h1>
      </div>
      <% @noneCompleted = true %>
        <% (current_user.challenges.where(theme: @challenge_name, completed: true)).each do |challenge| %>
          <% @noneCompleted = false %>
            <div class="completed-box">
              <div class="expand-clickable-area"></div>
              <div class="complete-icon">
                <%= image_tag 'to-do-checked.svg', size:"48x48"%>
              </div>
              <div class="challenge-info">
                <h5 class="completed-name"><%=challenge.challenge_name%></h5>
                <button type="button" class="show-hidden">
                  <i class="fas fa-chevron-down"></i>
                  <i class="fas fa-chevron-left" style="display:none;"></i>
                </button>
                <div class="hidden" style="display:none;">
                  <svg class="image"></svg>
                  <div class="the-challenge">
                    <p class="challenge-description">Challenge Description
                    </p>
                  </div>
                  <h6 class="completed-header">Completed:</h6>
                  <div class="completed-instance">
                    <div class="complete-icon">
                      <%= image_tag 'to-do-checked.svg', size:"48x48"%>
                    </div>
                    <div class="completed-info">
                      <p class="completed-time"><%= challenge.created_at.month =%>/<%= challenge.created_at.day =%>
                        -
                        <%= endDate(challenge).month =%>/<%= endDate(challenge).day =%></p>
                      <p class="instance-description">You diverted 10lbs of garbage! Amazing!</p>
                    </div>
                  </div>
                  <div class="start-challenge">
                    <h6 class="start-question">How long would you like to retake this challenge?</h6>
                    <%= select_tag "weeks", options_for_select((1..8).to_a)%>
                    <span class="label">
                      week(s) starting today</span><br>
                    <button type="button" class="btn add-challenge-button" name="button"><%= image_tag 'retry-challenge-button-copy.png'%></button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
          <% if @noneCompleted == true %>
            <div class="Rectangle">
              <div class="SmallRectangle"></div>
              <div class="Start-your-journey-t">
                <h4>Start your journey to sustainability to the left!</h4>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal" id="challenge-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-close">
            <button type="button" class="close" id="modal-close-button" onclick="history.back()" aria-label="Close" data-turbolinks="true">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <!-- <div class="first slide">
              <h2 class="modalHeader">Unlock
                <%= @challenge_name %>
                Challenges</h2>
              <% if !@challenge_data.key?(:videoID) %>
                <p class="helpText"><%= @challenge_data[:videoCaption] %></p>
              <% else %>
                <p class="helpText">
                  <span class="description"><%= @challenge_data[:briefDescription] %></span>
                  <br><br>
                  <span class="watchVideoText">Watch the following video to unlock
                    <%= @challenge_name.downcase %>
                    challenges.</span>
                </p>
                <div class="watchVideo">
                  <button type="button" name="watch-video" onclick="nextArrow();">
                    Watch Video
                  </button>
                </div>
              <% end %>
            </div> -->
            <div class="first slide">
              <h2 class="modalHeader"><%= @challenge_name %> Challenges</h2>
              <p class="instructions">Before you can get started on the challenges, watch this video to get a deeper understanding of this theme!</p>
              <div id="video">
                If the video does not appear in 10 seconds, exit this pop-up and click this theme again.
              </div>
            </div>
            <div class="second slide">
              <div class="challenge-unlock">
                <h5 class="heading">👏claps for you!👏</h5>
                <div class="cool">
                  Hooray! Now you can get started on the <strong><%= @challenge_name.downcase %></strong> challenges!
                </div>
                <div class="points-tracker">
                  <h5 class="keep-it-up">Keep it up! You’ve got 3 extra points!</h5>
                  <div class="branding"></div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100px !important" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="marker-container">
                      <div class="marker">
                        <!-- <span class="label">100</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="start box">100</div>
                  <div class="end box">140</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      <% if @challenge_data.key?(:videoID) %>
        var challengeVideoID = "<%= @challenge_data[:videoID] %>";
        var showVideo = true;
      <% else %>
        var showVideo = false;
      <% end %>
      var challengeName = "<%= @challenge_name %>";
      var already_unlocked = <%= @already_unlocked %>;
      <% if !@already_unlocked %>
        $('#challenge-modal').modal('show');
      <% else %>
        $('.themes-page-overlay').hide();
        $('.challenge-page').show();
      <% end %>
    </script>
