<script>
  var mobile = true;
  <% if @challenge_data.key?(:videoID) %>
    var challengeVideoID = "<%= @challenge_data[:videoID] %>";
    var showVideo = true;
  <% else %>
    var showVideo = false;
  <% end %>
</script>

<div class="challenge-page mobile" style="display:none;">
  <%= @challenge_name %> challenges here
</div>

<div class="theme-unlock">
  <button type="button" name="button" class="back-button bare">
    <i class="fas fa-chevron-left" onclick="history.back()"></i>
  </button>
  <h2 class="heading">Before you can get started on the challenges, watch this video to get a deeper understanding of this theme!</h2>
  <div id="video">

  </div>
  <h2 class="caption"> <%= @challenge_data[:videoCaption] %> </h2>
</div>

<script>
  var challengeName = "<%= @challenge_name %>";
  var already_unlocked = <%= @already_unlocked %>;
  <% if !@already_unlocked %>
    startVideo();
  <% else %>
    $('.theme-unlock').hide();
    $('.challenge-page').show();
  <% end %>
</script>

<%= render 'layouts/points/points_earned', {points: 3, type: 'theme_unlock', theme_name: @challenge_name, visible: false} %>
