<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="themes-page-overlay">
  <%= render template: '/themes/index.html.erb' %>
</div>

<div class="challenge-page">
<div class="back-button">
  <button type="button" class="back" name="button" onclick="location.href='/themes';">
  <%= image_tag 'arrow-back.svg'%>
  </button>
  <h1 class="challenge-title"><%= @challenge_name %> CHALLENGES</h1>
  </div>
  <div class="Completed-Challenges">
    <div class="Completed"><h1>Completed</h1></div>
    <div class="Rectangle">
      <div class="SmallRectangle"></div>
      <div class="Start-your-journey-t">
        <h4>Start your journey to sustainability to the right!</h4>
      </div>
    </div>
  </div>
  <div class="challenges-content">
    <div class="To-Do">
      <h1>To Do</h1>
      </div>
    <% (1..6).each do %>
      <div class="challenge-box">
        <div class="expand-clickable-area"></div>
        <div class="challenge-icon">
          <%= image_tag 'to-do-unchecked.png', size:"48x48"%>
        </div>
        <div class="challenge-info">
          <h5 class="challenge-name">Carry a bag for waste</h5>
          <button type="button" class="show-hidden">
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-chevron-up" style="display:none;"></i>
          </button>
          <div class="participants">
            <div class="Oval">
            </div>
          <p class="challenge-description">100 current participants</p>
          </div>
          <div class="hidden" style="display:none;">
            <div class="learn-more">
              <h7><strong>Learn More</strong></h7>
              <div class="links">
                <a>learn more link</a>
              </div>
            </div>
            <div class="the-challenge">
              <h7><strong>The Challenge</strong></h7>
              <p class="challenge-description">latrin </p>
            </div>
            <div class="start-challenge">
              <h6><strong>How long do you want to take this challenge for?</strong></h6>
              <%= select_tag "weeks", options_for_select((1..8).to_a)%> <span class="label"> week(s) starting today</span><br>
              <button type="button" class="btn add-challenge-button" name="button">ADD CHALLENGE</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
  <div class="modal" id="challenge-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-close">
          <button type="button" class="close" id="modal-close-button" onclick="history.back()" aria-label="Close" data-turbolinks="true">
            <%= image_tag 'exit-button.svg' %>
          </button>
        </div>
        <div class="modal-body">
          <div class="first slide">
            <h2 class="modalHeader">Unlock <%= @challenge_name %> Challenges</h2>
            <% if !@challenge_data.key?(:videoID) %>
              <p class="helpText"><%= @challenge_data[:videoCaption] %></p>
            <% else %>
              <p class="helpText">
                <span class="description"><%= @challenge_data[:briefDescription] %></span>
                <br><br>
                <span class="watchVideoText">Watch the following video to unlock <%= @challenge_name.downcase %> challenges.</span>
              </p>
              <div class="watchVideo">
                <button type="button" name="watch-video" onclick="nextArrow();">
                  Watch Video
                </button>
              </div>
            <% end %>
          </div>
          <div class="second slide">
            <h2 class="modalHeader">Unlock <%= @challenge_name %> Challenges</h2>
            <div id="video">
              If the video does not appear in 10 seconds, exit this pop-up and click this theme again.
            </div>
            <p class="helpText"><%= @challenge_data[:videoCaption] %></p>
          </div>
          <div class="third slide">
            <div class="challenge-unlock helpText">
              <h3 class="greatjob">Great Job!</h3>
                <div class="cool">
                  You just unlocked the <%= @challenge_name %> challenges!
                  <br>Now, let’s create change!
                </div>
                <div class="check-img">
                  <%= image_tag 'to-do-checked.svg' %>
                </div>
                  <button type="button" class="create-change-button" name="button" onclick="$('#challenge-modal').modal('hide');">
                    <h2 class="create-change-text">Create Change</h2>
                  </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
  <% if @challenge_data.key?(:videoID) %>
    var challengeVideoID = "<%= @challenge_data[:videoID] %>";
    var showVideo = true;
  <% else %>
    var showVideo = false;
  <% end %>
  var challengeName = "<%= @challenge_name %>";
  var already_unlocked = <%= @already_unlocked %>;
  <% if !@already_unlocked %>
    $('#challenge-modal').modal('show');
  <% else %>
    $('.themes-page-overlay').hide();
    $('.challenge-page').show();
  <% end %>
</script>
