<% content_for :navbar do %>
  <%= render 'layouts/dashboard_navbar' %>
<% end %>

<div class="themes-page-overlay">
  <%= render template: '/themes/index.html.erb' %>
</div>

<script>
  <% if @challenge_data.key?(:videoID) %>
    var challengeVideoID = "<%= @challenge_data[:videoID] %>";
    var showVideo = true;
  <% else %>
    var showVideo = false;
  <% end %>
</script>

<div class="challenge-page" style="display:none;">
  <div class="header">
    <h2 class="title"><%= @challenge_name %> Challenges</h2>
    <h2 class="instructions"> <%= @challenge_data[:instruction].html_safe %></h2>
  </div>

  <% if !@completed_challenges.exists?(challenge_name: @challenge_data[:challenges][0][:name]) %>
  <%# PRE-CHALLENGE %>
  <% challenge = @challenge_data[:challenges][0] %>
  <h2 class="heading">Pre-challenge</h2>
  <div class="challenge-box row">
    <div class="icon">
      <% challenge_icon_path = "challenges/#{@challenge_name.downcase}/#{@challenge_data[:challenges][0][:name].downcase.tr(' ','-').tr('#','')}.png" %>
      <% if FileTest.exists? "#{::Rails.root}/app/assets/images/" + challenge_icon_path %>
      <%= image_tag challenge_icon_path, size: '130' %>
      <% end %>
    </div>
    <div class="challenge-container col">
      <div class="info">
        <h5 class="name"><%= challenge[:name] %></h5>
        <h5 class="heading"><%= challenge[:question] %></h5>
        <p class="description"><%= challenge[:description].html_safe %></p>
      </div>
      <div class="hidden row" style="display:none;">
        <div class="instructions col">
          <h4 class="heading">🤔How do I do this?🤔</h4>
          <% if challenge[:background] %>
            <%= challenge[:background].html_safe %>
          <% end %>
          <ul>
            <% challenge[:instructions].each do |item| %>
            <li> <%= item.html_safe %> </li>
            <% end %>
          </ul>
          <% if challenge[:alt_instructions] %>
          <ul class="alt">
            <% challenge[:alt_instructions].each do |item| %>
            <li> <%= item.html_safe %> </li>
            <% end %>
          </ul>
          <% end %>
          <% if challenge[:extra] %>
           <%= challenge[:extra].html_safe %>
          <% end %>
          <% if challenge[:second_list] %>
          <ul>
            <% challenge[:second_list].each do |item| %>
            <li> <%= item.html_safe %> </li>
            <% end %>
          </ul>
          <% end %>
          <div class="spacer"></div>
        </div>
        <div class="col-5">
          <% if @in_progress_challenges.exists?(challenge_name: challenge[:name]) %>
          <% chall_obj = @in_progress_challenges.where(challenge_name: challenge[:name]) %>
          <div class="challenge-in-progress">
            <h2 class="heading">🏃‍♀️Challenge in progress…</h2>
            <h2 class="stat">ends on <%=chall_obj.pluck(:date_complete)[0].month%>/<%=chall_obj.pluck(:date_complete)[0].day%></h2>
          </div>
          <% else %>
          <div class="start-challenge">
            <h6 class="heading">🏁Start this challenge…</h6>
            <%= select_tag "weeks", options_for_select((1..8).to_a)%>
            <span class="label">week starting today</span><br>
            <button type="button" class="btn add-challenge-button" name="button" onclick="$('#points-earned').modal()">start challenge</button>
          </div>
          <% end %>
          <div class="learn-more">
            <h7 class="heading">🤓Wanna learn more?</h7>
            <ol>
              <% challenge[:links].each do |text, link| %>
              <li><%= link_to text, link, class: "link", target: "_blank"%></li>
              <% end %>
            </ol>
          </div>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="dropdown-click row">
        <div class="row align-items-center">
          <div class="text">
            <h2 class="up heading">TAKE ON THIS CHALLENGE</h2>
            <h2 class="down heading" style="display:none;">SHOW LESS</h2>
          </div>
          <div>
            <i class="fas fa-chevron-down"></i>
            <i class="fas fa-chevron-up" style="display:none;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="challenges-content">
    <h2 class="heading">Challenges</h2>
    <% (1..6).each do |index| %>
      <% challenge = @challenge_data[:challenges][index]%>
      <% if !@completed_challenges.exists?(challenge_name: challenge[:name])%>
        <div class="challenge-box row">
          <div class="icon">
            <% challenge_icon_path = "challenges/#{@challenge_name.downcase}/#{challenge[:name].downcase.tr(' ','-').tr('#','')}.png" %>
            <% if FileTest.exists? "#{::Rails.root}/app/assets/images/" + challenge_icon_path %>
              <%= image_tag challenge_icon_path, size: '130' %>
            <% end %>
          </div>
          <div class="challenge-container col">
            <div class="info">
              <h5 class="name"><%= challenge[:name] %></h5>
              <h5 class="heading"><%= challenge[:question] %></h5>
              <p class="description"><%= challenge[:description].html_safe %></p>
            </div>
            <div class="hidden row" style="display:none;">
              <div class="instructions col">
                <h4 class="heading">🤔How do I do this?🤔</h4>
                <% if challenge[:background] %>
                  <%= challenge[:background].html_safe %>
                <% end %>
                <ul>
                  <% challenge[:instructions].each do |item| %>
                    <li> <%= item.html_safe %> </li>
                  <% end %>
                </ul>
                <% if challenge[:alt_instructions] %>
                  <ul class="alt">
                    <% challenge[:alt_instructions].each do |item| %>
                      <li> <%= item.html_safe %> </li>
                    <% end %>
                  </ul>
                <% end %>
                <% if challenge[:extra] %>
                  <%= challenge[:extra].html_safe %>
                <% end %>
                <% if challenge[:second_list] %>
                  <ul>
                    <% challenge[:second_list].each do |item| %>
                      <li> <%= item.html_safe %> </li>
                    <% end %>
                  </ul>
                <% end %>
                <div class="spacer"></div>
              </div>
              <div class="col-5">
                <% if @in_progress_challenges.exists?(challenge_name: challenge[:name]) %>
                  <% chall_obj = @in_progress_challenges.where(challenge_name: challenge[:name]) %>
                  <div class="challenge-in-progress">
                    <h2 class="heading">🏃‍♀️Challenge in progress…</h2>
                    <h2 class="stat">ends on <%=chall_obj.pluck(:date_complete)[0].month%>/<%=chall_obj.pluck(:date_complete)[0].day%></h2>
                  </div>
                <% else %>
                  <div class="start-challenge">
                    <h6 class="heading">🏁Start this challenge…</h6>
                    <%= select_tag "weeks", options_for_select((1..8).to_a)%>
                    <span class="label">week starting today</span><br>
                    <button type="button" class="btn add-challenge-button" name="button" onclick="$('#points-earned').modal()">start challenge</button>
                  </div>
                <% end %>
                <div class="learn-more">
                  <h7 class="heading">🤓Wanna learn more?</h7>
                  <ol>
                    <% challenge[:links].each do |text, link| %>
                      <li><%= link_to text, link, class: "link", target: "_blank"%></li>
                    <% end %>
                  </ol>
                </div>
                <div class="spacer"></div>
              </div>
            </div>
            <div class="dropdown-click row ">
              <div class="row align-items-center ">
                <div class="text">
                  <h2 class="up heading">TAKE ON THIS CHALLENGE</h2>
                  <h2 class="down heading" style="display:none;">SHOW LESS</h2>
                </div>
                <div>
                  <i class="fas fa-chevron-down"></i>
                  <i class="fas fa-chevron-up" style="display:none;"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="completed-content">
    <h2 class="heading">Completed Challenges</h2>
    <% @completed_challenges.each do |challenge_record| %>
      <% challenge = all_challenges.detect {|challenge| challenge[:name] == challenge_record.challenge_name}  %>
      <div class="challenge-box row">
        <div class="icon">
          <% challenge_icon_path = "challenges/#{@challenge_name.downcase}/#{challenge[:name].downcase.tr(' ','-').tr('#','')}.png" %>
          <% if FileTest.exists? "#{::Rails.root}/app/assets/images/" + challenge_icon_path %>
            <%= image_tag challenge_icon_path, size: '130' %>
          <% end %>
        </div>
        <div class="challenge-container col">
          <div class="info">
            <h5 class="name"><%= challenge_record.challenge_name %></h5>
            <h5 class="heading"><%= challenge[:question] %></h5>
            <p class="description"><%= challenge[:description].html_safe %></p>
          </div>
          <div class="hidden row" style="display:none;">
            <div class="instructions col">
              <h4 class="heading">🤔How do I do this?🤔</h4>
              <% if challenge[:background] %>
                <%= challenge[:background].html_safe %>
              <% end %>
              <ul>
                <% challenge[:instructions].each do |item| %>
                  <li> <%= item.html_safe %> </li>
                <% end %>
              </ul>
              <% if challenge[:alt_instructions] %>
                <ul class="alt">
                  <% challenge[:alt_instructions].each do |item| %>
                    <li> <%= item.html_safe %> </li>
                  <% end %>
                </ul>
              <% end %>
              <% if challenge[:extra] %>
                <%= challenge[:extra].html_safe %>
              <% end %>
              <% if challenge[:second_list] %>
                <ul>
                  <% challenge[:second_list].each do |item| %>
                    <li> <%= item.html_safe %> </li>
                  <% end %>
                </ul>
              <% end %>
              <div class="spacer"></div>
            </div>
            <div class="col-5">
              <div class="completed-challenge">
                <h6 class="heading">🙌challenge completed🙌 </h6>
                <h2 class="stat"><%=challenge_record.created_at.month%>/<%=challenge_record.created_at.day%> - <%=challenge_record.date_complete.month%>/<%=challenge_record.date_complete.day%></h2>
                <h2 class="stat"> <%= challenge_record.cumulative_metrics %> <%= challenge[:metric_unit] %> </h2>
              </div>
              <div class="learn-more">
                <h7 class="heading">🤓Wanna learn more?</h7>
                <ol>
                  <% challenge[:links].each do |text, link| %>
                    <li><%= link_to text, link, class: "link", target: "_blank"%></li>
                  <% end %>
                </ol>
              </div>
              <div class="spacer"></div>
            </div>
          </div>
          <div class="dropdown-click row">
            <div class="row align-items-center">
              <div class="text">
                <h2 class="up heading">TAKE ON THIS CHALLENGE</h2>
                <h2 class="down heading" style="display:none;">SHOW LESS</h2>
              </div>
              <div>
                <i class="fas fa-chevron-down"></i>
                <i class="fas fa-chevron-up" style="display:none;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @completed_challenges.length == 0 %>
      <div class="no-completed-challenges">
        <h3>nothing completed yet let’s get started above!</h3>
      </div>
    <% end %>
  </div>
</div>
  <%= render 'layouts/points/points_earned_popup', {heading: '🏃‍♀️your journey begins🏃‍♂️', message: 'Great job on starting a challenge! You can check on your challenge on the dashboard! We can’t wait to hear what you’ll do!', points: 3} %>

    <div class="modal" id="challenge-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-close">
            <button type="button" class="close" id="modal-close-button" onclick="history.back()" aria-label="Close" data-turbolinks="true">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="first slide">
              <h2 class="modalHeader"><%= @challenge_name %> Challenges</h2>
              <p class="instructions">Before you can get started on the challenges, watch this video to get a deeper understanding of this theme!</p>
              <div id="video">
                If the video does not appear, refresh this page.
              </div>
            </div>
            <div class="second slide">
              <div class="challenge-unlock">
                <h5 class="heading">👏claps for you!👏</h5>
                <div class="cool">
                  Congratulations! You've unlocked this theme and can now get started on the <strong><%= @challenge_name.downcase %></strong> challenges.
                </div>
                <div class="points-tracker">
                  <h5 class="keep-it-up">Keep it up! You’ve got 3 extra points!</h5>
                  <div class="branding"></div>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100px !important" aria-valuemin="0" aria-valuemax="100"></div>
                    <div class="marker-container">
                      <div class="marker">
                        <!-- <span class="label">100</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="start box">100</div>
                  <div class="end box">140</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      var challengeName = "<%= @challenge_name %>";
      var already_unlocked = <%= @already_unlocked %>;
      <% if !@already_unlocked %>
        $('#challenge-modal').on('shown.bs.modal', startVideo)
        $('#challenge-modal').modal('show');
      <% else %>
        $('.themes-page-overlay').hide();
        $('.challenge-page').show();
      <% end %>
    </script>
