<head>
  <%= stylesheet_link_tag "challenge-reminder-email.css" %>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>

<body>
  <%= image_tag 'rootup-logo.png' %>

  <h1 class="name">Hey <%= @user.name %>!</h1>

  <div class="row">
    <%= image_tag @gifs[0] %>
    <div class="col">
      <h2 class="title">
        We’re back, delivering your email dose of
      </h2>
      <h2 class="title bold uppercase">
        “IF YA DON'T KNOW, NOW YA KNOW”:
      </h2>
      <h2 class="subtitle"><%= @fact %></h2>
    </div>
  </div>
  
  <% if @updates %>
    <hr>
    <h2 class="title bold uppercase">Here's the rootup scoop:</h2>
    <% @updates.each do |update| %>
      <h2 class="title"><%= update.html_safe %> </h2>
    <% end %>
  <% end %>

  <hr>

  <h2 class="title bold uppercase">Keep kicking it with us by:</h2>
  <ul>
    <li>Learning + doing something <a target="_blank" href=" <%= themes_url %> ">right now</a> <span>(it
        only takes a minute!)</span></li>
    <li><a target="_blank" href=" <%= dashboard_url %> ">Show off</a> your impact <span>(cause your
        actions are worth bragging about!)</span></li>
    <li><a target="_blank" href=" <%= challenges_reflections_url %> ">Share</a> your experiences <span>(cause we want to know!)</span></li>
  </ul>

  <hr>

  <h2 class="title bold uppercase">Never forget that every action matters(!)</h2>
  <h2 class="title">Keep challenging yourself to do and do more:</h2>
    
  <div class="row">
    <div style="margin:20px;">
      <ol>
        <% @user_completed_challenges.each do |challenge| %>
        <li> <%= challenge.challenge_name %> (complete)</li>
        <% end %>
        <% @user_incomplete_challenges.each do |challenge| %>
        <li> <%= challenge.challenge_name %> (ends in <%= challenge.get_time_left %>)</li>
        <% end %>
      </ol>
    </div>
    <%= image_tag @gifs[1] %>
  </div>

  <hr>

  <h2 class="title bold uppercase">We want to serve you and the environment better.</h2>
  <h2 class="title"> Hit reply if you’ve got any feedback to share. We accept all
    positives and deltas (room for improvement) :)</h2>

  <h2 class="title closing">
    Rootin’ for ya!<br>
    the Rootup team
  </h2>

  <p>P.S. <a target="_blank" href="<%= edit_user_registration_url %> ">Update</a> email reminder settings or <a
      target="_blank" href="<%= unsubscribe_url(email: @user.email) %>">unsubscribe</a></p>
</body>