<style>
  .small {
    font-size: 11px;
  }
</style>

<p>Hey <%= @user.name %>!</p>

<p>We’re back, delivering your email dose of “If ya don’t know, now ya know”: </p>
<ul>
  <li><%= @fact %></li>
</ul>


<% if @updates %>
  <p>Here's the rootup scoop:</p>
  <ul>
    <% @updates.each do |update| %>
      <li><%= update.html_safe %> </li>
    <% end %>
  </ul>
<% end %>

<p>Keep kicking it with us by</p>
<ul>
  <li>Learning + doing something <a target="_blank" href=" <%= themes_url %> ">right now</a> <span class="small">(it only takes a minute!)</span></li>
  <li><a target="_blank" href=" <%= dashboard_url %> ">Show off</a> your impact <span class="small">(cause your actions are worth bragging about!)</span></li>
  <li><a target="_blank" href=" <%= challenges_reflections_url %> ">Share</a> your experiences <span class="small">(cause we want to know!)</span></li>
</ul>

<p>Never forget that every action matters(!) Keep challenging yourself to do and do more:</p>
<ol>
  <% @user_completed_challenges.each do |challenge| %>
    <li>  <%= challenge.challenge_name %> (complete)</li>
  <% end %>
  <% @user_incomplete_challenges.each do |challenge| %>
    <li>  <%= challenge.challenge_name %> (ends in <%= challenge.get_time_left %>)</li>
  <% end %>
</ol>

<p>We want to serve you and the environment better. Hit reply if you’ve got any feedback to share. We accept all positives and deltas (room for improvement) :)</p>

<p>
  Rootin’ for ya!<br>
  the Rootup team
</p>

<p>P.S. Email reminder settings are updatable <a target="_blank" href="<%= edit_user_registration_url %> ">here</a></p>
