<div class="footer row">
  <div class="app col">
    <%= image_tag 'rootup-logo.png' %>
    <h2 class="slogan">making change accessible</h2>
  </div>
  <div class="links col">
    <%= link_to 'about', about_path %>
    <%= link_to 'team', team_path %>
    <%= link_to 'contact', 'mailto:rootupteam@gmail.com' %>
  </div>
  <div class="links col">
    <%= link_to 'resources', resources_path %>
    <%= link_to 'privacy', privacy_path %>
    <%= link_to 'terms', terms_path %>
  </div>
  <div class="links col">
    <%= link_to 'twitter', 'https://twitter.com/turninggreenorg', target: "_blank" %>
    <%= link_to 'instagram', 'https://www.instagram.com/turninggreenorg/', target: "_blank" %>
    <%= link_to 'facebook', 'https://www.facebook.com/TGreenOrg/', target: "_blank" %>
  </div>
</div>
