<div class="footer">
  <ul class="socialMedList">
    <br />
    <li><a href="mailto:info@turninggreen.org"> <%= inline_svg('mail.svg') %></a></li>
    <li><a href="https://twitter.com/turninggreenorg"> <%= inline_svg('twitter.svg') %> </a> </li>
    <li><a href="https://www.instagram.com/turninggreenorg">  <%= inline_svg('instagram.svg') %></a></li>
    <li><a href="https://www.facebook.com/TGreenOrg/"><%= inline_svg('facebook.svg') %></a></li>
    <li><a href="https://www.pinterest.com/teensturngree"><%= inline_svg('pinterest.svg') %></a></li>
    <li><a href="https://www.youtube.com/user/TeensTurningGreen"><%= inline_svg('youtube.svg') %></a></li>
    <li><a href="#">FAQ</a></li>
  </ul>

  <ul class="footerBottom">
    <li>Ⓒ Turning Green 2015-2018</li>
    <li> Your Contribution to Turning Green is tax deductible <br /> Our Tax ID number is 75-3106659 </li>
    <li> A Program of Turning Green </li>
  </ul>
</div>
