<!DOCTYPE html>
<html>
  <%= render "layouts/header"%>
  <body>
    <% if content_for?(:navbar) %>
      <!-- rest of app view -->
      <div class="row">
        <div id="navbar">
          <%= yield(:navbar) %>
        </div>
        <div class="col content-col">
          <nav class="sidebar-toggle navbar-light position-absolute d-xl-none">
            <button type="button" data-toggle="collapse" data-target="#navbarToggle" class="btn" onclick="toggleDashNav()">
              <span class="navbar-toggler-icon"></span>
            </button>
          </nav>
          <div class="top-nav">
            <%= render 'layouts/notifications_dropdown' %>
            <%= render 'layouts/feedback_dropdown' %>
          </div>
          <%= render "layouts/alerts"%>
          <div class="main-content row justify-content-center">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- landing page view -->
      <%= render 'layouts/default_navbar' %>
      <%= render "layouts/alerts"%>
      <%= yield %>
    <% end %>
    <%= render "layouts/footer"%>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
