<!DOCTYPE html>
<html>
  <%= render "layouts/header"%>
  <body>
    <div class="row">
      <div id="navbar col">
        <% if content_for?(:navbar) %>
          <%= yield(:navbar) %>
        <% else %>
          <%= render 'layouts/default_navbar' %>
        <% end %>
      </div>
      <div class="col">
        <% if content_for?(:navbar) %>
          <div class="top-nav row">
            <%= render 'layouts/notifications_dropdown' %>
            <%= render 'layouts/feedback_dropdown' %>
          </div>
        <% end %>
        <%= render "layouts/alerts"%>
        <div class="row">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render "layouts/footer"%>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
