<!DOCTYPE html>
<html>
  <%= render "layouts/header"%>
  <body>
    <% if content_for?(:navbar) %>
      <!-- rest of app view -->
      <div class="row">
        <div id="navbar col">
          <%= yield(:navbar) %>
        </div>
        <div class="col">
          <div class="top-nav row">
            <%= render 'layouts/notifications_dropdown' %>
            <%= render 'layouts/feedback_dropdown' %>
          </div>
          <%= render "layouts/alerts"%>
          <div class="main-content row">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <!-- landing page view -->
      <%= render 'layouts/default_navbar' %>
      <%= render "layouts/alerts"%>
      <%= yield %>
    <% end %>
    <%= render "layouts/footer"%>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
