<%# 
    challenge : challenge to render
 %>
<% challenge_is_obj = challenge.class == Challenge %>
<% challenge_data = (challenge_is_obj)? challenge.content_data : challenge %>
<% name = challenge_data[:name] %>
<% type = challenge_data[:type] %>
<% completed = @completed_challenges.exists?(challenge_name: name) %>
<% in_progress = @in_progress_challenges.exists?(challenge_name: name) %>

<div class="challenge-card <%= 'pre' if type == 'pre' %>" <%= "onclick=$(this).next('.challenge-popup').modal()" %>>
  <div class="image">
    <%= image_tag (challenge_is_obj)? challenge.icon_path : "challenges/#{@challenge_name.downcase}/#{challenge[:name].downcase.tr(' ','-').tr('#','')}.png", size: '100' %>
  </div>
  <div class="info">
    <h2 class="name"><%= name %></h2>
    <h3 class="question"> <%= challenge_data[:question] %> </h3>
  </div>
  <% if type != 'pre' %>
    <% if completed %>
      <%= image_tag 'challenges/completed.svg', class: 'progress-indicator', size: '22' %>
    <% elsif in_progress %>
      <%= image_tag 'challenges/in-progress.svg', class: 'progress-indicator', size: '22' %>
    <% else %>
      <%= image_tag 'challenges/not-started.svg', class: 'progress-indicator', size: '22' %>
    <% end %>
  <% end %>
</div>

<div class="challenge-popup modal" tabindex="-1" role="dialog" data-challenge_name="<%= name %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="heading">
          <h2><%= name %></h2>
        </div>
      <div class="modal-body">
        <div class="challenge-info carousel slide" id="<%= name %>" data-interval="false">
          <div class="carousel-item active">
            <p class="description"><%= challenge_data[:description].html_safe %></p>
          </div>
          <div class="carousel-item">
            <div class="steps">
              <h2 class="subtitle">How do I do this?</h2>
              <ul>
                <% challenge_data[:instructions].each do |item| %>
                <li> <%= item.html_safe %> </li>
                <% end %>
              </ul>
              <% if challenge_data[:alt_instructions] %>
              <ul class="alt">
                <% challenge_data[:alt_instructions].each do |item| %>
                <li> <%= item.html_safe %> </li>
                <% end %>
              </ul>
              <% end %>
              <% if challenge_data[:second_list] %>
              <ul>
                <% challenge_data[:second_list].each do |item| %>
                <li> <%= item.html_safe %> </li>
                <% end %>
              </ul>
              <% end %>
            </div>
          </div>
          <div class="carousel-item">
            <h2 class="subtitle">Click on the links below to...</h2>
            <% challenge_data[:links].each do |text, link| %>
            <div class="learn-more-link">
              <%= image_tag 'leaf.svg' %>
              <%= link_to text, link, class: "link", target: "_blank"%>
            </div>
            <% end %>
          </div>
          <ol class="carousel-indicators">
            <li data-target="<%= name %>" data-slide-to="0" class="active"></li>
            <li data-target="<%= name %>" data-slide-to="1"></li>
          </ol>
          <div class="controls">
            <div class="slide" onclick="toggleChallengeInfo(this)">
              <div class="handle">
                <%= image_tag 'light-icon.png' %>
              </div>
              <span>Tap to learn more</span>
            </div>
            <% if type == 'pre' %>
              <% if in_progress %>
              <button class="continue" type="button" 
                onclick="completePreChallenge(<%= challengeObjFromName(challenge_data[:name]).id %>);">
                finished the challenge?</button>
              <% else %>
              <button class="continue" type="button" 
                onclick="startPreChallenge(this)">
                start challenge</button>
              <% end %>
            <% else %>
              <% if in_progress %>
              <button class="continue" type="button" 
                onclick="$('#<%= challengeObjFromName(challenge_data[:name]).id %>.log-progress').css('display', 'flex');">
                log progress</button>
              <%= render 'layouts/mobile/log_progress', {challenge: challengeObjFromName(challenge_data[:name])} %>
              <% else %>
              <button class="continue" type="button" 
                onclick="$(this).parents('.challenge-popup').modal('hide');$(this).parents('.challenge-popup').next('.start-challenge-popup').css('display', 'flex')">
                Let's do it!!</button>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if type != 'pre' %>
<div class="start-challenge-popup" data-challenge_name="<%= name %>"> 
  <button type="button" name="button" class="back-button bare" onclick="$(this).parents('.start-challenge-popup').hide()">
    <i class="fas fa-chevron-left"></i>
  </button>
  <h2 class="prompt">🏁Start this challenge</h2>
  <%= select_tag "weeks", options_for_select((1..4).to_a), class: 'input' %>
  <h2 class="prompt">weeks starting today</h2>
  <div class="next-button" onclick="startChallenge(this)">
    <%= image_tag "next-button-active", class: "active" %>
  </div>
</div>
<% end %>
